In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from tensorflow.keras.models import *
from tensorflow.keras.layers import *
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('./deep_data/adult.txt', header=None, names = ['age', 'workclass','fnlwgt', 'education', 'education_num', 
                                                                'marital_status', 'occupation', 'relationship', 'race'\
                                                                , 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 
                                                                'native-country', '50k'])
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  50k             32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
df['50k'].value_counts()

 <=50K    24720
 >50K      7841
Name: 50k, dtype: int64

In [70]:
df['50k'].unique()

array(['<=50K', '>50K'], dtype=object)

In [69]:
df['50k'] = df['50k'].apply(lambda x:x.replace(' ',''))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  50k             32561 non-null  object
 15  target          32561 non-null  int64
 16  50k_str         32561 non-null  object
dtypes: int64(7), object(10)
memory usage: 4.2+ MB

In [73]:
tar_li=[]
for i in df['50k']:
    if i == '>50K':
        tar_li.append(1)
    if i == '<=50K':
        tar_li.append(0)

In [74]:
len(tar_li)

32561

In [76]:
df['target'] = tar_li

In [77]:
df['target'].value_counts()

0    24720
1     7841
Name: target, dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  50k             32561 non-null  object
 15  target          32561 non-null  int64
 16  50k_str         32561 non-null  object
dtypes: int64(7), object(10)
memory usage: 4.2+ MB

In [80]:
x = df.values[:,:15]
y = df['target']

In [85]:
x = pd.get_dummies(x)

ValueError: Data must be 1-dimensional

In [83]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
x_enc = enc.fit_transform(x)

ValueError: y should be a 1d array, got an array of shape (32561, 15) instead.

In [ ]:
###################################################################

In [151]:
df_t = pd.read_csv('./deep_data/adult.txt', header=None, names = ['age', 'workclass','fnlwgt', 'education', 'education_num', 
                                                                'marital_status', 'occupation', 'relationship', 'race'\
                                                                , 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 
                                                                'native-country', '50k'])

In [152]:
y = df_t['50k'].apply(lambda x: 1 if x == ' >50K' else 0)

In [153]:
x = df_t.loc[:,:'native-country']

In [154]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.5+ MB

In [155]:
x = pd.get_dummies(x)

In [156]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 108 entries, age to native-country_ Yugoslavia
dtypes: int64(6), uint8(102)
memory usage: 4.7 MB

In [157]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=100)

In [158]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)

StandardScaler()

In [159]:
x_train_sc = sc.transform(x_train)
x_test_sc = sc.transform(x_test)

In [174]:
model = Sequential()
model.add(Dense(1024, activation='relu', input_dim=108))
# model.Dropout((0.3))
model.add(Dense(128, activation='relu'))
# model.Dropout((0.3))
model.add(Dense(56, activation='relu'))
# model.Dropout((0.3))
model.add(Dense(28, activation='relu'))
# model.Dropout((0.3))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 1024)              111616

 dense_20 (Dense)            (None, 128)               131200

 dense_21 (Dense)            (None, 56)                7224

 dense_22 (Dense)            (None, 28)                1596

 dense_23 (Dense)            (None, 1)                 29

=================================================================
Total params: 251,665
Trainable params: 251,665
Non-trainable params: 0
_________________________________________________________________

In [176]:
model.compile(loss='binary_crossentropy', metrics=['accuracy'], optimizer='adagrad')

In [177]:
hist = model.fit(x_train_sc, y_train, validation_split=0.2, epochs=50, batch_size=200)

Epoch 1/50
92/92 [==============================] - 1s 6ms/step - loss: 0.6170 - accuracy: 0.7225 - val_loss: 0.5689 - val_accuracy: 0.7585
Epoch 2/50
92/92 [==============================] - 0s 5ms/step - loss: 0.5476 - accuracy: 0.7591 - val_loss: 0.5238 - val_accuracy: 0.7585
Epoch 3/50
92/92 [==============================] - 0s 5ms/step - loss: 0.5086 - accuracy: 0.7609 - val_loss: 0.4894 - val_accuracy: 0.7605
Epoch 4/50
92/92 [==============================] - 0s 5ms/step - loss: 0.4762 - accuracy: 0.7695 - val_loss: 0.4597 - val_accuracy: 0.7765
Epoch 5/50
92/92 [==============================] - 0s 5ms/step - loss: 0.4482 - accuracy: 0.7965 - val_loss: 0.4338 - val_accuracy: 0.8054
Epoch 6/50
92/92 [==============================] - 0s 5ms/step - loss: 0.4242 - accuracy: 0.8145 - val_loss: 0.4122 - val_accuracy: 0.8173
Epoch 7/50
92/92 [==============================] - 0s 5ms/step - loss: 0.4050 - accuracy: 0.8259 - val_loss: 0.3953 - val_accuracy: 0.8241
Epoch 8/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3900 - accuracy: 0.8312 - val_loss: 0.3825 - val_accuracy: 0.8252
Epoch 9/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3785 - accuracy: 0.8336 - val_loss: 0.3731 - val_accuracy: 0.8291
Epoch 10/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3697 - accuracy: 0.8358 - val_loss: 0.3656 - val_accuracy: 0.8298
Epoch 11/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3627 - accuracy: 0.8367 - val_loss: 0.3599 - val_accuracy: 0.8311
Epoch 12/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3572 - accuracy: 0.8383 - val_loss: 0.3553 - val_accuracy: 0.8320
Epoch 13/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3527 - accuracy: 0.8395 - val_loss: 0.3519 - val_accuracy: 0.8322
Epoch 14/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3490 - accuracy: 0.8406 - val_loss: 0.3491 - val_accuracy: 0.8315
Epoch 15/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3458 - accuracy: 0.8419 - val_loss: 0.3469 - val_accuracy: 0.8329
Epoch 16/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3432 - accuracy: 0.8424 - val_loss: 0.3452 - val_accuracy: 0.8335
Epoch 17/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3409 - accuracy: 0.8434 - val_loss: 0.3436 - val_accuracy: 0.8331
Epoch 18/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3389 - accuracy: 0.8441 - val_loss: 0.3426 - val_accuracy: 0.8337
Epoch 19/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3371 - accuracy: 0.8450 - val_loss: 0.3412 - val_accuracy: 0.8342
Epoch 20/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3354 - accuracy: 0.8454 - val_loss: 0.3400 - val_accuracy: 0.8329
Epoch 21/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3340 - accuracy: 0.8471 - val_loss: 0.3392 - val_accuracy: 0.8337
Epoch 22/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3326 - accuracy: 0.8476 - val_loss: 0.3383 - val_accuracy: 0.8340
Epoch 23/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3313 - accuracy: 0.8474 - val_loss: 0.3376 - val_accuracy: 0.8342
Epoch 24/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3302 - accuracy: 0.8484 - val_loss: 0.3369 - val_accuracy: 0.8340
Epoch 25/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3291 - accuracy: 0.8492 - val_loss: 0.3364 - val_accuracy: 0.8366
Epoch 26/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3280 - accuracy: 0.8493 - val_loss: 0.3358 - val_accuracy: 0.8361
Epoch 27/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3270 - accuracy: 0.8498 - val_loss: 0.3352 - val_accuracy: 0.8364
Epoch 28/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3261 - accuracy: 0.8496 - val_loss: 0.3349 - val_accuracy: 0.8381
Epoch 29/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3252 - accuracy: 0.8503 - val_loss: 0.3341 - val_accuracy: 0.8361
Epoch 30/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3243 - accuracy: 0.8510 - val_loss: 0.3337 - val_accuracy: 0.8364
Epoch 31/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3234 - accuracy: 0.8515 - val_loss: 0.3334 - val_accuracy: 0.8381
Epoch 32/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3227 - accuracy: 0.8513 - val_loss: 0.3329 - val_accuracy: 0.8383
Epoch 33/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3219 - accuracy: 0.8515 - val_loss: 0.3324 - val_accuracy: 0.8383
Epoch 34/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3211 - accuracy: 0.8519 - val_loss: 0.3322 - val_accuracy: 0.8390
Epoch 35/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3204 - accuracy: 0.8525 - val_loss: 0.3319 - val_accuracy: 0.8386
Epoch 36/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3197 - accuracy: 0.8521 - val_loss: 0.3315 - val_accuracy: 0.8383
Epoch 37/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3190 - accuracy: 0.8522 - val_loss: 0.3312 - val_accuracy: 0.8386
Epoch 38/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3183 - accuracy: 0.8532 - val_loss: 0.3308 - val_accuracy: 0.8392
Epoch 39/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3177 - accuracy: 0.8536 - val_loss: 0.3305 - val_accuracy: 0.8399
Epoch 40/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3170 - accuracy: 0.8533 - val_loss: 0.3304 - val_accuracy: 0.8392
Epoch 41/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3164 - accuracy: 0.8535 - val_loss: 0.3302 - val_accuracy: 0.8405
Epoch 42/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3158 - accuracy: 0.8539 - val_loss: 0.3297 - val_accuracy: 0.8405
Epoch 43/50
92/92 [==============================] - 0s 5ms/step - loss: 0.3152 - accuracy: 0.8539 - val_loss: 0.3294 - val_accuracy: 0.8410
Epoch 44/50
92/92 [==============================] - 3s 37ms/step - loss: 0.3146 - accuracy: 0.8545 - val_loss: 0.3292 - val_accuracy: 0.8410
Epoch 45/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3140 - accuracy: 0.8547 - val_loss: 0.3289 - val_accuracy: 0.8425
Epoch 46/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3134 - accuracy: 0.8555 - val_loss: 0.3287 - val_accuracy: 0.8421
Epoch 47/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3129 - accuracy: 0.8550 - val_loss: 0.3285 - val_accuracy: 0.8425
Epoch 48/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3123 - accuracy: 0.8559 - val_loss: 0.3284 - val_accuracy: 0.8429
Epoch 49/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3117 - accuracy: 0.8556 - val_loss: 0.3282 - val_accuracy: 0.8425
Epoch 50/50
92/92 [==============================] - 0s 4ms/step - loss: 0.3112 - accuracy: 0.8562 - val_loss: 0.3280 - val_accuracy: 0.8436

In [172]:
model.evaluate(x_test_sc, y_test)

306/306 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8482

[0.33477747440338135, 0.8481932878494263]

In [175]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train_sc, y_train)
rfc.score(x_test, y_test)

C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

0.7578053024874604