In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# !pip install afinn

Collecting afinn
  Downloading afinn-0.1.tar.gz (52 kB)
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py): started
  Building wheel for afinn (setup.py): finished with status 'done'
  Created wheel for afinn: filename=afinn-0.1-py3-none-any.whl size=53448 sha256=75f6b20a5c2a28373338869a7524d1c60d9720b5d45a4449f113b7787622d8fc
  Stored in directory: c:\users\bitcamp\appdata\local\pip\cache\wheels\9d\16\3a\9f0953027434eab5dadf3f33ab3298fa95afa8292fcf7aba75
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [2]:
from afinn import Afinn
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer

In [ ]:
# google drive

# aclimdb - neg_1, pos_1
# NRC.txt

In [3]:
import glob

In [11]:
pos_reviews = glob.glob('pos/pos_1/*.txt')

In [8]:
neg_reviews = glob.glob('neg/neg_1/*.txt')

In [12]:
pos_reviews = glob.glob('./pos_1/pos_1/*.txt')
neg_reviewsg = glob.glob('./neg_1/neg_1/*.txt')

In [14]:
f=open(pos_reviews[20], 'r')
pos_text = f.read()
print(pos_text)

Critics need to review what they class as a quality movie. I think the critics have seen too many actions films and have succumbed to the Matrix style of films. Europa is a breath of fresh air, a film with so many layers that one viewing is not enough to understand or appreciate this outstanding film. Lars von Trier shows that old styles of filming can produce marvellous cinema and build drama and tension. The back projection effect he uses during the film arouses and enhances the characters, and the focus of the conversation they are having. Other effects he uses such as the colour and black and white in one scene much like Hitchcock and the girl with the red coat grabs attention and enhances the drama and meaning of the scene. The commentary is superb and has a hypnotic effect, again maintaining the focus on the central characters in the scene and there actions.<br /><br />I could talk about the effects more but I think you all would agree they push this film into a category of its own, and really heighten the drama of the film. A film to buy if you don't own already and one to see if you have not.<br /><br />10/10 Don't miss this artistic noir film from one of the great film directors.

In [15]:
f=open(neg_reviews[20], 'r')
neg_text = f.read()
print(neg_"text)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1820/959425037.py, line 3)

In [20]:
afinn = Afinn()

In [21]:
afinn.score(pos_text)  # -15 ~ 20

14.0

In [22]:
afinn.score(neg_text)

-12.0

In [ ]:
# 감성어사전 - NRC

In [23]:
nrc = pd.read_csv('./data_files/NRC.txt', engine='python', header=None, sep='\t')

In [24]:
nrc

            0             1  2
0       aback         anger  0
1       aback  anticipation  0
2       aback       disgust  0
3       aback          fear  0
4       aback           joy  0
...       ...           ... ..
141815   zoom      negative  0
141816   zoom      positive  0
141817   zoom       sadness  0
141818   zoom      surprise  0
141819   zoom         trust  0

[141820 rows x 3 columns]

In [26]:
nrc.iloc[:, 1].value_counts()

anger           14182
anticipation    14182
disgust         14182
fear            14182
joy             14182
negative        14182
positive        14182
sadness         14182
surprise        14182
trust           14182
Name: 1, dtype: int64

In [28]:
len(nrc.iloc[:, 0].value_counts())

14181

In [33]:
nrc = nrc[(nrc != 0).all(1)]

In [36]:
nrc[nrc[0] == 'happy']

           0             1  2
57871  happy  anticipation  1
57874  happy           joy  1
57876  happy      positive  1
57879  happy         trust  1

In [37]:
nrc[nrc[0] == 'disaster']

              0         1  2
36260  disaster     anger  1
36262  disaster   disgust  1
36263  disaster      fear  1
36265  disaster  negative  1
36267  disaster   sadness  1
36268  disaster  surprise  1

In [40]:
nrc = nrc.reset_index(drop=True)
nrc

               0             1  2
0         abacus         trust  1
1        abandon          fear  1
2        abandon      negative  1
3        abandon       sadness  1
4      abandoned         anger  1
...          ...           ... ..
13896       zest  anticipation  1
13897       zest           joy  1
13898       zest      positive  1
13899       zest         trust  1
13900        zip      negative  1

[13901 rows x 3 columns]

In [45]:
lines1 = pos_text

In [43]:
stopwords = stopwords.words('english')

In [47]:
tokenizer = RegexpTokenizer('[\w]+')

In [44]:
p_stemmer = PorterStemmer()

In [48]:
raw = lines1.lower()
tokens = tokenizer.tokenize(raw)
stopped_tokens = [i for i in tokens if not i in stopwords]
stopped_tokens

['critics',
 'need',
 'review',
 'class',
 'quality',
 'movie',
 'think',
 'critics',
 'seen',
 'many',
 'actions',
 'films',
 'succumbed',
 'matrix',
 'style',
 'films',
 'europa',
 'breath',
 'fresh',
 'air',
 'film',
 'many',
 'layers',
 'one',
 'viewing',
 'enough',
 'understand',
 'appreciate',
 'outstanding',
 'film',
 'lars',
 'von',
 'trier',
 'shows',
 'old',
 'styles',
 'filming',
 'produce',
 'marvellous',
 'cinema',
 'build',
 'drama',
 'tension',
 'back',
 'projection',
 'effect',
 'uses',
 'film',
 'arouses',
 'enhances',
 'characters',
 'focus',
 'conversation',
 'effects',
 'uses',
 'colour',
 'black',
 'white',
 'one',
 'scene',
 'much',
 'like',
 'hitchcock',
 'girl',
 'red',
 'coat',
 'grabs',
 'attention',
 'enhances',
 'drama',
 'meaning',
 'scene',
 'commentary',
 'superb',
 'hypnotic',
 'effect',
 'maintaining',
 'focus',
 'central',
 'characters',
 'scene',
 'actions',
 'br',
 'br',
 'could',
 'talk',
 'effects',
 'think',
 'would',
 'agree',
 'push',
 'film',
 'category',
 'really',
 'heighten',
 'drama',
 'film',
 'film',
 'buy',
 'already',
 'one',
 'see',
 'br',
 'br',
 '10',
 '10',
 'miss',
 'artistic',
 'noir',
 'film',
 'one',
 'great',
 'film',
 'directors']

In [50]:
match_tokens = [x for x in stopped_tokens if x in list(nrc[0])]
match_tokens

['outstanding',
 'build',
 'tension',
 'focus',
 'black',
 'white',
 'attention',
 'superb',
 'focus',
 'talk',
 'agree',
 'heighten',
 'artistic']

In [52]:
emotion = []

for i in match_tokens:
    em_word = nrc[nrc[0] == i][1].values
    for j in em_word:
        emotion.append(j)
        
emotion

['joy',
 'negative',
 'positive',
 'positive',
 'anger',
 'positive',
 'negative',
 'sadness',
 'anticipation',
 'joy',
 'positive',
 'trust',
 'positive',
 'positive',
 'positive',
 'positive',
 'positive',
 'fear',
 'negative',
 'positive']

In [54]:
sent_result = pd.Series(emotion).value_counts()
sent_result

positive        10
negative         3
joy              2
anger            1
sadness          1
anticipation     1
trust            1
fear             1
dtype: int64

In [59]:
def emotion_score(series):
    
    emot_score = 0
    
    for j in range(len(series)):
        
        if series.index[j] in ('positive', 'anticipation', 'trust','joy', 'surprise'):
            emot_score += series.iloc[j]
        else:
            emot_score -= series.iloc[j]
            
    return emot_score

In [60]:
emotion_score(sent_result)

8

In [62]:
lines2 = neg_text

raw = lines2.lower()
tokens = tokenizer.tokenize(raw)
stopped_tokens = [i for i in tokens if not i in stopwords]
match_tokens = [x for x in stopped_tokens if x in list(nrc[0])]

emotion = []
for i in match_tokens:
    em_word = nrc[nrc[0] == i][1].values
    for j in em_word:
        emotion.append(j)
        
sent_result = pd.Series(emotion).value_counts()

emotion_score(sent_result)

-2