In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
from tensorflow.keras.layers import Dense, LSTM, Dropout
from tensorflow.keras.models import Sequential

In [3]:
df = pd.read_csv('./deep_data/AirPassengers.csv')
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [ ]:
# 과거 5개월의 데이터를 학습해서 다음 년도의 탑승객 수를 예측하는 모델 만들고 
# 1960-07 ~ 1960-11의 5개월 데이터를 기반으로 1960-12월 탑승

In [5]:
df

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [6]:
df['month'] = df.Month.apply(lambda x:x.split('-')[1])

In [9]:
df

       Month  #Passengers month
0    1949-01          112    01
1    1949-02          118    02
2    1949-03          132    03
3    1949-04          129    04
4    1949-05          121    05
..       ...          ...   ...
139  1960-08          606    08
140  1960-09          508    09
141  1960-10          461    10
142  1960-11          390    11
143  1960-12          432    12

[144 rows x 3 columns]

In [10]:
df_train = df.iloc[:-1,:]
df_test = df.iloc[-1,:]

In [15]:
window_size = 5

x_train=[]
y_train=[]

for i in range(len(df['#Passengers'])-window_size):              
    x_train.append([df['#Passengers'][i+j] for j in range(window_size)])        
    y_train.append(df['#Passengers'][window_size + i])

In [16]:
x_train = np.array(x_train)
y_train = np.array(y_train)

In [17]:
x_train.shape

(139, 5)

In [18]:
y_train.shape

(139,)

In [20]:
x_train = x_train.reshape(139, 5, 1)

In [ ]:
y_train = y_train.reshape(139,)

In [27]:
model = Sequential()
model.add(LSTM(100, input_shape=(5,1)))             
model.add(Dropout(0.2))                   
model.add(Dense(1, activation='linear'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 100)               40800

 dropout (Dropout)           (None, 100)               0

 dense (Dense)               (None, 1)                 101

=================================================================
Total params: 40,901
Trainable params: 40,901
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.utils import to_categorical
df_con = pd.concat([df_train, pd.DataFrame(to_categorical(df_train.month, num_classes=13))])

In [ ]:
cols = list(range(1, 13))
cols.append('#Passengers')
cols

In [ ]:
x_train = df_con[cols]

In [ ]:
x_train = x_train.values

In [ ]:
x = []
y = []
window = 5

for i in range(len(x_train) - window-1):
    for j in range(window):
        x.append(x_train[i:i+j])
        y.append(x_train[i+window+1, -1])

In [ ]:
그만 졸아
딴짓하지마이씨
일해라아아

In [ ]:
np.array(x)