In [1]:
# data.go.kr

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns




import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus'] = False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)

In [2]:
# warnings 안뜨게

In [3]:
# 한글 encoding

# utf8 - 
# euckr -한글인코딩
# cp949 - euc보다 폭넓은

# 안맞으면 디코드에러가 뜸

In [4]:
tt = pd.read_csv('./data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211031.csv', encoding='euckr')
tt.head()

  지역명                     규모구분    연도   월 분양가격(제곱미터)
0  서울                     모든면적  2015  10       5841
1  서울            전용면적 60제곱미터이하  2015  10       5652
2  서울   전용면적 60제곱미터초과 85제곱미터이하  2015  10       5882
3  서울  전용면적 85제곱미터초과 102제곱미터이하  2015  10       5721
4  서울           전용면적 102제곱미터초과  2015  10       5879

In [5]:
tt.info()      # 분양가격 숫자화

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6205 entries, 0 to 6204
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역명         6205 non-null   object
 1   규모구분        6205 non-null   object
 2   연도          6205 non-null   int64
 3   월           6205 non-null   int64
 4   분양가격(제곱미터)  5734 non-null   object
dtypes: int64(2), object(3)
memory usage: 242.5+ KB

In [6]:
# 분양가격 숫자화

In [7]:
tt.isna().sum()  #nan값 확인

지역명             0
규모구분            0
연도              0
월               0
분양가격(제곱미터)    471
dtype: int64

In [98]:
tt.loc[tt['분양가격(제곱미터)'].isna()]           # nan값 확인

     지역명                     규모구분    연도  월 분양가격(제곱미터)
368   광주  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
369   광주           전용면적 102제곱미터초과  2016  2        NaN
374   대전           전용면적 102제곱미터초과  2016  2        NaN
388   강원  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
421   제주            전용면적 60제곱미터이하  2016  2        NaN
...   ..                      ...   ... ..        ...
5984  대전           전용면적 102제곱미터초과  2021  8        NaN
5989  울산           전용면적 102제곱미터초과  2021  8        NaN
6018  전남  전용면적 85제곱미터초과 102제곱미터이하  2021  8        NaN
6031  제주            전용면적 60제곱미터이하  2021  8        NaN
6033  제주  전용면적 85제곱미터초과 102제곱미터이하  2021  8        NaN

[471 rows x 5 columns]

In [8]:
tt.dropna(inplace=True)

In [9]:
tt.isna().sum()

지역명           0
규모구분          0
연도            0
월             0
분양가격(제곱미터)    0
dtype: int64

In [10]:
tt['분양가격(제곱미터'] * 3.3        #오브젝트 연산 안됨

KeyError: '분양가격(제곱미터'

In [15]:
tt['분양가격(제곱미터)']= tt['분양가격(제곱미터)'].astype('str')         # 형변환

In [24]:
idexes = []
errors = []
for i,j in enumerate(tt['분양가격(제곱미터)']):

    try:
        float(j)
        idexes.append(i)
    except:
        errors.append(j)

In [35]:

len(errors)

186

In [36]:
tt['분양가격(제곱미터)'].drop(errors)              #

KeyError: "['  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  ' '  '\n '  ' '  ' ' 9,501 ' ' 9,724 ' ' 9,518 ' ' 7,044 ' ' - ' ' 4,315 '\n ' 4,387 ' ' 4,283 ' ' 4,824 ' ' 5,312 ' ' 4,227 ' ' 4,125 ' ' 4,205 '\n ' 4,283 ' ' 5,194 ' ' 4,358 ' ' 4,202 ' ' 4,327 ' ' 3,971 ' ' 4,518 '\n ' 4,750 ' ' 4,644 ' ' 4,771 ' ' 4,257 ' ' 5,010 ' ' 4,338 ' ' 2,957 '\n ' 4,027 ' ' - ' ' 4,668 ' ' 3,717 ' ' 3,862 ' ' 3,715 ' ' - ' ' - '\n ' 4,303 ' ' 4,862 ' ' 4,290 ' ' 3,515 ' ' - ' ' 3,804 ' ' 4,041 '\n ' 3,883 ' ' 3,858 ' ' 3,593 ' ' 2,857 ' ' 2,867 ' ' 2,846 ' ' 2,811 '\n ' 3,309 ' ' 2,646 ' ' 2,596 ' ' 2,672 ' ' 2,688 ' ' 2,750 ' ' 2,892 '\n ' 2,860 ' ' 2,885 ' ' 3,085 ' ' 3,429 ' ' 2,641 ' ' 2,529 ' ' 2,625 '\n ' 3,240 ' ' 3,378 ' ' 3,178 ' ' 2,680 ' ' 3,178 ' ' - ' ' 3,278 '\n ' 3,135 ' ' 2,861 ' ' 3,119 ' ' 3,955 ' ' 3,943 ' ' 3,295 ' ' 3,172 '\n ' 3,277 ' ' 4,051 ' ' 3,558 ' ' 8,356 ' ' - ' ' 8,410 ' ' - ' ' 7,727 '\n ' 9,662 ' ' 10,181 ' ' 10,252 ' ' 7,044 ' ' - ' ' 4,316 ' ' 4,399 '\n ' 4,280 ' ' 4,824 ' ' 5,317 ' ' 4,202 ' ' 4,152 ' ' 4,253 ' ' 4,028 '\n ' 4,893 ' ' 4,420 ' ' 4,506 ' ' 4,415 ' ' 3,971 ' ' 4,379 ' ' 4,722 '\n ' 4,509 ' ' 4,745 ' ' 4,257 ' ' 5,023 ' ' 4,271 ' ' 3,259 ' ' 3,997 '\n ' - ' ' 4,668 ' ' 3,743 ' ' 3,890 ' ' 3,742 ' ' - ' ' - ' ' 4,303 '\n ' 4,862 ' ' 4,290 ' ' 3,515 ' ' - ' ' 3,869 ' ' 4,041 ' ' 3,883 '\n ' 3,858 ' ' 3,741 ' ' 2,971 ' ' 2,980 ' ' 2,874 ' ' 3,474 ' ' 3,511 '\n ' 2,646 ' ' 2,596 ' ' 2,672 ' ' 2,688 ' ' 2,750 ' ' 2,918 ' ' 2,906 '\n ' 2,907 ' ' 3,388 ' ' 3,429 ' ' 2,685 ' ' 2,674 ' ' 2,665 ' ' 3,240 '\n ' 3,656 ' ' 2,996 ' ' 2,890 ' ' 2,979 ' ' - ' ' 3,277 ' ' 3,131 '\n ' 2,929 ' ' 3,119 ' ' 3,845 ' ' 3,937 ' ' 3,324 ' ' 3,188 ' ' 3,307 '\n ' 3,987 ' ' 3,599 ' ' 6,860 ' ' - ' ' 6,787 ' ' 5,924 ' ' 6,815 '] not found in axis"

In [42]:
tt['분양가격(제곱미터)'] = tt['분양가격(제곱미터)'].apply(lambda x: str(x).strip().replace(',',' '))

In [41]:
errors

['  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 ' 9,501 ',
 ' 9,724 ',
 ' 9,518 ',
 ' 7,044 ',
 ' - ',
 ' 4,315 ',
 ' 4,387 ',
 ' 4,283 ',
 ' 4,824 ',
 ' 5,312 ',
 ' 4,227 ',
 ' 4,125 ',
 ' 4,205 ',
 ' 4,283 ',
 ' 5,194 ',
 ' 4,358 ',
 ' 4,202 ',
 ' 4,327 ',
 ' 3,971 ',
 ' 4,518 ',
 ' 4,750 ',
 ' 4,644 ',
 ' 4,771 ',
 ' 4,257 ',
 ' 5,010 ',
 ' 4,338 ',
 ' 2,957 ',
 ' 4,027 ',
 ' - ',
 ' 4,668 ',
 ' 3,717 ',
 ' 3,862 ',
 ' 3,715 ',
 ' - ',
 ' - ',
 ' 4,303 ',
 ' 4,862 ',
 ' 4,290 ',
 ' 3,515 ',
 ' - ',
 ' 3,804 ',
 ' 4,041 ',
 ' 3,883 ',
 ' 3,858 ',
 ' 3,593 ',
 ' 2,857 ',
 ' 2,867 ',
 ' 2,846 ',
 ' 2,811 ',
 ' 3,309 ',
 ' 2,646 ',
 ' 2,596 ',
 ' 2,672 ',
 ' 2,688 ',
 ' 2,750 ',
 ' 2,892 ',
 ' 2,860 ',
 ' 2,885 ',
 ' 3,085 ',
 ' 3,429 ',
 ' 2,641 ',
 ' 2,529 ',
 ' 2,625 ',
 ' 3,240 ',
 ' 3,378 ',
 ' 3,178 ',
 ' 2,680 ',
 ' 3,178 ',
 ' - ',
 ' 3,278 ',
 ' 3,135 ',
 ' 2,861 ',
 ' 3,119 ',
 ' 3,955 ',
 ' 3,943 ',
 ' 3,295 ',
 ' 3,172 ',
 ' 3,277 ',
 ' 4,051 ',
 ' 3,558 ',
 ' 8,356 ',
 ' - ',
 ' 8,410 ',
 ' - ',
 ' 7,727 ',
 ' 9,662 ',
 ' 10,181 ',
 ' 10,252 ',
 ' 7,044 ',
 ' - ',
 ' 4,316 ',
 ' 4,399 ',
 ' 4,280 ',
 ' 4,824 ',
 ' 5,317 ',
 ' 4,202 ',
 ' 4,152 ',
 ' 4,253 ',
 ' 4,028 ',
 ' 4,893 ',
 ' 4,420 ',
 ' 4,506 ',
 ' 4,415 ',
 ' 3,971 ',
 ' 4,379 ',
 ' 4,722 ',
 ' 4,509 ',
 ' 4,745 ',
 ' 4,257 ',
 ' 5,023 ',
 ' 4,271 ',
 ' 3,259 ',
 ' 3,997 ',
 ' - ',
 ' 4,668 ',
 ' 3,743 ',
 ' 3,890 ',
 ' 3,742 ',
 ' - ',
 ' - ',
 ' 4,303 ',
 ' 4,862 ',
 ' 4,290 ',
 ' 3,515 ',
 ' - ',
 ' 3,869 ',
 ' 4,041 ',
 ' 3,883 ',
 ' 3,858 ',
 ' 3,741 ',
 ' 2,971 ',
 ' 2,980 ',
 ' 2,874 ',
 ' 3,474 ',
 ' 3,511 ',
 ' 2,646 ',
 ' 2,596 ',
 ' 2,672 ',
 ' 2,688 ',
 ' 2,750 ',
 ' 2,918 ',
 ' 2,906 ',
 ' 2,907 ',
 ' 3,388 ',
 ' 3,429 ',
 ' 2,685 ',
 ' 2,674 ',
 ' 2,665 ',
 ' 3,240 ',
 ' 3,656 ',
 ' 2,996 ',
 ' 2,890 ',
 ' 2,979 ',
 ' - ',
 ' 3,277 ',
 ' 3,131 ',
 ' 2,929 ',
 ' 3,119 ',
 ' 3,845 ',
 ' 3,937 ',
 ' 3,324 ',
 ' 3,188 ',
 ' 3,307 ',
 ' 3,987 ',
 ' 3,599 ',
 ' 6,860 ',
 ' - ',
 ' 6,787 ',
 ' 5,924 ',
 ' 6,815 ']

In [33]:
pd.Series(errors).unique()

array(['  ', ' 9,501 ', ' 9,724 ', ' 9,518 ', ' 7,044 ', ' - ', ' 4,315 ',
       ' 4,387 ', ' 4,283 ', ' 4,824 ', ' 5,312 ', ' 4,227 ', ' 4,125 ',
       ' 4,205 ', ' 5,194 ', ' 4,358 ', ' 4,202 ', ' 4,327 ', ' 3,971 ',
       ' 4,518 ', ' 4,750 ', ' 4,644 ', ' 4,771 ', ' 4,257 ', ' 5,010 ',
       ' 4,338 ', ' 2,957 ', ' 4,027 ', ' 4,668 ', ' 3,717 ', ' 3,862 ',
       ' 3,715 ', ' 4,303 ', ' 4,862 ', ' 4,290 ', ' 3,515 ', ' 3,804 ',
       ' 4,041 ', ' 3,883 ', ' 3,858 ', ' 3,593 ', ' 2,857 ', ' 2,867 ',
       ' 2,846 ', ' 2,811 ', ' 3,309 ', ' 2,646 ', ' 2,596 ', ' 2,672 ',
       ' 2,688 ', ' 2,750 ', ' 2,892 ', ' 2,860 ', ' 2,885 ', ' 3,085 ',
       ' 3,429 ', ' 2,641 ', ' 2,529 ', ' 2,625 ', ' 3,240 ', ' 3,378 ',
       ' 3,178 ', ' 2,680 ', ' 3,278 ', ' 3,135 ', ' 2,861 ', ' 3,119 ',
       ' 3,955 ', ' 3,943 ', ' 3,295 ', ' 3,172 ', ' 3,277 ', ' 4,051 ',
       ' 3,558 ', ' 8,356 ', ' 8,410 ', ' 7,727 ', ' 9,662 ', ' 10,181 ',
       ' 10,252 ', ' 4,316 ', ' 4,399 ', ' 4,280 ', ' 5,317 ', ' 4,152 ',
       ' 4,253 ', ' 4,028 ', ' 4,893 ', ' 4,420 ', ' 4,506 ', ' 4,415 ',
       ' 4,379 ', ' 4,722 ', ' 4,509 ', ' 4,745 ', ' 5,023 ', ' 4,271 ',
       ' 3,259 ', ' 3,997 ', ' 3,743 ', ' 3,890 ', ' 3,742 ', ' 3,869 ',
       ' 3,741 ', ' 2,971 ', ' 2,980 ', ' 2,874 ', ' 3,474 ', ' 3,511 ',
       ' 2,918 ', ' 2,906 ', ' 2,907 ', ' 3,388 ', ' 2,685 ', ' 2,674 ',
       ' 2,665 ', ' 3,656 ', ' 2,996 ', ' 2,890 ', ' 2,979 ', ' 3,131 ',
       ' 2,929 ', ' 3,845 ', ' 3,937 ', ' 3,324 ', ' 3,188 ', ' 3,307 ',
       ' 3,987 ', ' 3,599 ', ' 6,860 ', ' 6,787 ', ' 5,924 ', ' 6,815 '],
      dtype=object)

In [34]:
tt.iloc[idexes]

     지역명                     규모구분    연도   월 분양가격(제곱미터)
0     서울                     모든면적  2015  10       5841
1     서울            전용면적 60제곱미터이하  2015  10       5652
2     서울   전용면적 60제곱미터초과 85제곱미터이하  2015  10       5882
3     서울  전용면적 85제곱미터초과 102제곱미터이하  2015  10       5721
4     서울           전용면적 102제곱미터초과  2015  10       5879
...   ..                      ...   ...  ..        ...
6028  경남  전용면적 85제곱미터초과 102제곱미터이하  2021   8       4087
6029  경남           전용면적 102제곱미터초과  2021   8       3526
6030  제주                     모든면적  2021   8       8356
6032  제주   전용면적 60제곱미터초과 85제곱미터이하  2021   8       8410
6034  제주           전용면적 102제곱미터초과  2021   8       7727

[5548 rows x 5 columns]

In [60]:
tt_clean = tt.iloc[idexes]

In [62]:
tt_clean = tt_clean.dropna()
tt_clean['분양가격(제곱미터)'].astype('float')

Series([], Name: 분양가격(제곱미터), dtype: float64)

In [ ]:
tt_clean['평당분양가'] = tt['분양가격(제곱미터)'] * 3.3

In [82]:
tt_clean

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격(제곱미터)]
Index: []

In [83]:
tt_clean['규모구분'].unique()

array([], dtype=object)

In [ ]:
tt_clean.info()

In [ ]:
tt_clean['규모구분'] = tt.clean['규모구분'].str.replace('전용면적','')
tt_clean['규모구분'] = tt.clean['규모구분'].str.replace('제곱미터','')
tt_clean['규모구분'] = tt.clean['규모구분'].str.replace('이하','')
tt_clean['규모구분'] = tt.clean['규모구분'].str.replace('초과','')     # apply로 접근을 했어야함 str로 대체
tt_clean['규모구분']

In [ ]:
tt_clean.drop('분양가격(제곱미터)', axis=1, inplace=True)   # 분양가격 날리기
tt_clean

In [ ]:
tt_clean.head()

In [ ]:
# 지역별 평당 분양가격

In [ ]:
ttc = tt_clean.copy()             # 이름 바꾸기

In [ ]:
tt.groupby('지역명')['평당분양가'].mean().plot(kind = 'bar')

In [ ]:
ttc.연도

In [ ]:
# 2021년도의 지역별 분양가 평균
ttc[ttc.연도 == 2021].groupby('지역명')['평당분양가'].mean().plot(kind = 'bar')

In [ ]:
# 2015 ~ 2021년 사이 지역별 분양가 변화를 line으로 그리기
ttc[ttc['지역명'] == '서울'].groupby('연도')['평당분양가'].mean().plot()

In [ ]:
ttc.groupby(['연도','지역별'])['평당분양가'].mean().unstack().plot()

In [ ]:
sns.lmplot(x='연도', y='평당분양가',data =ttc, hue='지역명')

In [32]:
#각 년도에 월별 분양가 box chart로 그리시오
ttc[ttc.연도 == 2021].groupby('월')['평당분양가'].mean().plot(kind='box')

NameError: name 'ttc' is not defined

In [ ]:
ttc.groupby(['연도','월'])['평당분양가'].mean().unstack().plot(kind='box')

In [ ]:
ttc.groupby(['연도','월'])['평당분양가'].mean().unstack().T.plot(kind='box')