In [2]:
import pandas as pd
import numpy as np

# seoul_weather.csv 불러오기
# 역대 최고기온인 날의 날짜는?
# 일교차가 가장 큰 월은 언제인가?
# 월교차가 가장 큰 연도는?
# 역대 최고기온인 날의 날짜는?
# 월교차(워란 온도 분산)이 가장 큰 연도는?

In [7]:
weather = pd.read_csv('./data/seoul_weather.csv', encoding='cp949', skiprows=11)  # 데이터에 11줄 건너뛰기 skiprows=11
we = pd.DataFrame(weather)
we.head()

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN
2       108  서울  1907-10-03     16.2     21.3      NaN     13.1    NaN
3       108  서울  1907-10-04     16.5     22.0      NaN     11.2    NaN
4       108  서울  1907-10-05     17.6     25.4      NaN     10.9    NaN

In [25]:
# 역대 최고기온인 날의 날짜는?
we[we['최고기온(℃)'] == weather['최고기온(℃)'].max()]['일시'].values

array(['2018-08-01'], dtype=object)

In [6]:
weather.dropna()

       \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
11780       108  서울  1940-01-01     -2.4      2.9    13:50     -6.5  08:16
11781       108  서울  1940-01-02     -2.9      2.9    15:43     -6.5  04:40
11782       108  서울  1940-01-03     -4.6     -1.6    15:30     -7.0  23:00
11783       108  서울  1940-01-04      1.3      7.0    16:27     -8.1  01:45
11784       108  서울  1940-01-05      1.0      4.3    04:46     -2.4  24:00
...         ...  ..         ...      ...      ...      ...      ...    ...
40483       108  서울  2019-10-07     14.8     17.9    00:01     13.3  23:09
40484       108  서울  2019-10-08     14.7     19.8    14:42     10.6  23:31
40485       108  서울  2019-10-09     13.6     20.4    14:41      7.7  07:04
40486       108  서울  2019-10-10     15.2     19.8    15:08     10.7  02:15
40487       108  서울  2019-10-11     18.8     26.1    15:48     13.0  06:59

[27644 rows x 8 columns]

In [42]:
# 일교차가 가장 큰 월은 언제인가?
weather['최고기온(℃)'] = weather['최고기온(℃)'].apply(lambda x: float(x))
weather['최저기온(℃)'] = weather['최저기온(℃)'].apply(lambda x: float(x))
weather['최고기온(℃)']- weather['최저기온(℃)'].max()

0        -9.6
1        -8.3
2        -9.0
3        -8.3
4        -4.9
         ...
40483   -12.4
40484   -10.5
40485    -9.9
40486   -10.5
40487    -4.2
Name: 최고기온(℃), Length: 40488, dtype: float64

In [43]:
# 월교차가 가장 큰 연도는?
weather['최고기온(℃)'] = weather['최고기온(℃)'].apply(lambda x: float(x))
weather['최저기온(℃)'] = weather['최저기온(℃)'].apply(lambda x: float(x))

In [9]:
we.drop(['\t\t지점번호','지점명','\t최고기온시각','최저기온시각'], axis=1, inplace=True)

KeyError: "['\\t\\t지점번호' '지점명' '\\t최고기온시각' '최저기온시각'] not found in axis"

In [12]:
we.columns = ['일시','평온','고온','저온']

In [13]:
we.head()

           일시    평온    고온    저온
0  1907-10-01  13.5  20.7   7.9
1  1907-10-02  16.2  22.0   7.9
2  1907-10-03  16.2  21.3  13.1
3  1907-10-04  16.5  22.0  11.2
4  1907-10-05  17.6  25.4  10.9

In [15]:
# 역대 최고기온인 날의 날짜는?
we.sort_values('고온', ascending=False).iloc[0]

일시    2018-08-01
평온          33.6
고온          39.6
저온          27.8
Name: 40051, dtype: object

In [18]:
we['일교차'] = we['고온'] - we['저온']
we

               일시    평온    고온    저온   일교차
0      1907-10-01  13.5  20.7   7.9  12.8
1      1907-10-02  16.2  22.0   7.9  14.1
2      1907-10-03  16.2  21.3  13.1   8.2
3      1907-10-04  16.5  22.0  11.2  10.8
4      1907-10-05  17.6  25.4  10.9  14.5
...           ...   ...   ...   ...   ...
40483  2019-10-07  14.8  17.9  13.3   4.6
40484  2019-10-08  14.7  19.8  10.6   9.2
40485  2019-10-09  13.6  20.4   7.7  12.7
40486  2019-10-10  15.2  19.8  10.7   9.1
40487  2019-10-11  18.8  26.1  13.0  13.1

[40488 rows x 5 columns]

In [25]:
we['월'] = we['일시'].apply(lambda x:x.split('-')[1])
we

               일시    평온    고온    저온   일교차   월
0      1907-10-01  13.5  20.7   7.9  12.8  10
1      1907-10-02  16.2  22.0   7.9  14.1  10
2      1907-10-03  16.2  21.3  13.1   8.2  10
3      1907-10-04  16.5  22.0  11.2  10.8  10
4      1907-10-05  17.6  25.4  10.9  14.5  10
...           ...   ...   ...   ...   ...  ..
40483  2019-10-07  14.8  17.9  13.3   4.6  10
40484  2019-10-08  14.7  19.8  10.6   9.2  10
40485  2019-10-09  13.6  20.4   7.7  12.7  10
40486  2019-10-10  15.2  19.8  10.7   9.1  10
40487  2019-10-11  18.8  26.1  13.0  13.1  10

[40488 rows x 6 columns]

In [28]:
we.groupby('월')['일교차'].mean().sort_values(ascending=False).iloc[:1]

월
10    10.909529
Name: 일교차, dtype: float64

In [37]:
we.sort_values('일교차', ascending=False).iloc[:1]

               일시    평온    고온   저온   일교차   월
12619  1942-04-19  12.7  24.3  2.5  21.8  04

In [40]:
we.head()

           일시    평온    고온    저온   일교차   월     년
0  1907-10-01  13.5  20.7   7.9  12.8  10  1907
1  1907-10-02  16.2  22.0   7.9  14.1  10  1907
2  1907-10-03  16.2  21.3  13.1   8.2  10  1907
3  1907-10-04  16.5  22.0  11.2  10.8  10  1907
4  1907-10-05  17.6  25.4  10.9  14.5  10  1907

In [ ]:
# 월교차(워란 온도 분산)이 가장 큰 연도는?

In [38]:
we['년'] = we['일시'].apply(lambda x: x.split('-')[0])
we.groupby(['년','월'])['평온'].mean().unstack().std(axis=1).sort_values(ascending=False).iloc[:1]

년
1917    12.088418
dtype: float64