In [1]:
import pandas as pd
import numpy as np

In [44]:
weather = pd.read_csv('./data/seoul_weather.csv', encoding='cp949', skiprows=11)  # 데이터에 11줄 건너뛰기 skiprows=11
weather = pd.DataFrame(weather)
weather.head()

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN
2       108  서울  1907-10-03     16.2     21.3      NaN     13.1    NaN
3       108  서울  1907-10-04     16.5     22.0      NaN     11.2    NaN
4       108  서울  1907-10-05     17.6     25.4      NaN     10.9    NaN

In [25]:
# 역대 최고기온인 날의 날짜는?
weather[weather['최고기온(℃)'] == weather['최고기온(℃)'].max()]['일시'].values

array(['2018-08-01'], dtype=object)

In [42]:
# 일교차가 가장 큰 월은 언제인가?
weather['최고기온(℃)'] = weather['최고기온(℃)'].apply(lambda x: float(x))
weather['최저기온(℃)'] = weather['최저기온(℃)'].apply(lambda x: float(x))
weather['최고기온(℃)']- weather['최저기온(℃)'].max()

0        -9.6
1        -8.3
2        -9.0
3        -8.3
4        -4.9
         ...
40483   -12.4
40484   -10.5
40485    -9.9
40486   -10.5
40487    -4.2
Name: 최고기온(℃), Length: 40488, dtype: float64

In [43]:
# 월교차가 가장 큰 월은?
weather['최고기온(℃)'] = weather['최고기온(℃)'].apply(lambda x: float(x))
weather['최저기온(℃)'] = weather['최저기온(℃)'].apply(lambda x: float(x))