In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore') 

import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus'] = False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)

import requests
from bs4 import BeautifulSoup
from selenium import webdriver

import MySQLdb

import time
from selenium.webdriver.common.keys import Keys

In [2]:
url = 'https://finance.naver.com/item/sise_day.naver?code=005930'

In [3]:
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [4]:
pd.read_html(res.html)    # 안됨

AttributeError: 'Response' object has no attribute 'html'

In [5]:
driver = webdriver.Chrome()

In [8]:
driver.get(url)
time.sleep(0.5)
html = driver.page_source

AttributeError: 'list' object has no attribute 'dropna'

In [9]:
driver.close()

In [11]:
df = pd.read_html(html)[0]
df.dropna(inplace=True)
df

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.02.09  74400.0   900.0  74300.0  74700.0  74000.0   4649706.0
2   2022.02.08  73500.0   500.0  73800.0  74200.0  73000.0  11736666.0
3   2022.02.07  73000.0  1000.0  73500.0  73600.0  72400.0  14240838.0
4   2022.02.04  74000.0   700.0  74300.0  74600.0  73400.0  12730034.0
5   2022.02.03  73300.0     0.0  74900.0  74900.0  73300.0  17744721.0
9   2022.01.28  73300.0  2000.0  71300.0  73700.0  71200.0  21367447.0
10  2022.01.27  71300.0  2000.0  73800.0  74000.0  71300.0  22274777.0
11  2022.01.26  73300.0   700.0  73900.0  74400.0  73100.0  12976730.0
12  2022.01.25  74000.0  1100.0  74800.0  75000.0  73200.0  17766704.0
13  2022.01.24  75100.0   500.0  75400.0  75800.0  74700.0  13691134.0

In [ ]:
# 전체 페이지 가져오기??? 안하네

In [12]:
df = pd.read_csv('universe_code.csv')
codes = df.종목코드.apply(lambda x: x[:1]).values
codes

array(['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A'], dtype=object)

In [13]:
db = MySQLdb.connect(host='localhost', port=3306, user='root', password='1234')

In [14]:
cursor = db.cursor()

In [16]:
sql = """
create database if not exists fin_db;
"""
cursor.execute(sql)

1

In [29]:
sql = """
use fin_db;
"""
cursor.execute(sql)

0

In [ ]:
sql = """
create table if not exists st_fin(
    code char(10) not null,
    date char(10) null,
    매출액 float null,
    영업이익 float null,
    당기순이익 float null,
    자산총계 float null,
    부채총계 float null,
    자본총계 float null,
    ROE float null,
    ROA float null,
    EPS float null,
    PER float null,
    BPS float null,
    PBR float null
);
"""
cursor.execute(sql)

In [30]:
sql = 'show databases:'
pd.read_sql(sql, db)

DatabaseError: Execution failed on sql 'show databases:': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':' at line 1")

In [43]:
sql = """
create table if not exists stock_table(
code char(6),
date date,
close float,
margin float,
strt float,
high float,
low float,
volume float
)
"""

cursor.execute(sql)

0

In [44]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'.format(code, num)

NameError: name 'num' is not defined

In [45]:
codedf = pd.read_csv('universe_code.csv')
codes = codedf['종목코드'].apply(lambda x : x[1:]).values
codes

array(['000210', '000220', '000240', '000250', '000660', '000990',
       '001340', '001390', '001500', '001750', '001800', '001820',
       '001880', '002310', '002350', '002390', '002870', '003090',
       '003220', '003410', '003530', '003550', '003670', '003780',
       '003850', '004000', '004170', '004490', '004590', '005290',
       '005670', '005690', '005880', '005930', '006060', '006220',
       '006390', '006400', '006620', '006650', '006740', '007330',
       '007340', '007570', '007700', '008490', '009150', '009420',
       '009780', '009970', '010050', '010130', '010240', '010640',
       '010780', '011040', '011170', '011330', '011780', '012330',
       '012510', '012630', '012700', '012750', '012790', '013030',
       '013120', '013810', '013890', '014570', '014680', '014830',
       '015230', '015710', '016090', '016360', '016580', '016600',
       '016610', '017040', '017510', '017890', '017960', '018250',
       '018260', '018310', '019550', '020000', '020150', '020710',
       '021080', '021240', '022220', '023590', '023600', '023760',
       '023770', '023900', '023910', '024110', '024120', '024720',
       '025900', '026890', '026960', '027360', '027410', '027970',
       '028100', '028670', '029460', '029780', '029960', '030190',
       '030210', '030520', '030530', '030610', '031390', '031430',
       '032080', '032190', '032500', '032560', '032620', '032850',
       '033100', '033130', '033160', '033270', '033290', '033500',
       '033640', '033660', '033780', '033830', '034810', '034830',
       '035250', '035420', '035460', '035600', '035900', '036120',
       '036200', '036480', '036490', '036530', '036560', '036570',
       '036800', '036810', '036830', '036890', '036930', '038390',
       '038540', '038870', '039010', '039340', '039420', '039440',
       '039490', '039840', '039860', '040160', '040420', '040910',
       '041460', '041830', '041910', '041920', '042370', '042500',
       '042510', '042700', '043150', '044060', '044340', '044450',
       '045060', '045300', '045520', '046110', '046310', '046440',
       '047770', '047810', '049070', '049720', '049960', '050760',
       '050960', '051360', '051600', '051900', '052260', '052330',
       '052400', '052690', '052790', '052860', '053030', '053210',
       '053300', '053610', '053690', '053800', '054040', '054450',
       '054670', '054950', '055490', '055550', '056190', '056360',
       '058400', '058470', '058630', '059090', '059120', '059210',
       '060150', '060250', '060540', '060980', '061970', '062970',
       '063160', '063760', '064290', '064760', '064960', '065130',
       '065370', '065510', '065680', '066670', '067080', '067160',
       '067830', '067900', '068270', '068330', '068790', '068930',
       '069080', '069260', '069960', '071050', '071200', '072020',
       '072990', '073010', '073110', '073490', '075130', '077360',
       '078140', '078340', '079940', '079960', '080000', '081000',
       '081660', '082920', '083450', '083550', '083930', '084110',
       '084370', '084680', '084850', '086390', '086450', '086520',
       '086670', '086790', '086900', '088130', '088980', '089030',
       '089140', '089600', '089790', '089890', '089970', '089980',
       '090460', '090850', '091440', '091700', '091990', '092440',
       '092730', '093320', '093520', '094820', '094840', '094850',
       '095610', '095660', '096240', '096530', '097230', '097520',
       '097800', '097870', '098460', '099190', '099320', '100120',
       '100250', '100700', '100790', '101160', '101240', '101490',
       '102120', '102710', '104460', '104540', '104830', '105560',
       '105740', '108380', '108490', '109740', '110990', '111710',
       '111770', '114090', '115960', '119610', '119860', '120240',
       '121600', '122310', '122450', '122990', '123890', '126560',
       '127710', '128940', '130660', '131030', '131290', '131370',
       '131390', '131970', '136540', '137950', '138080', '138930',
       '139130', '140860', '141000', '141080', '143240', '144960',
       '145020', '145720', '147830', '148150', '149950', '149980',
       '151860', '161390', '166090', '169330', '170790', '170900',
       '171010', '171090', '171120', '175330', '178320', '178920',
       '179290', '179900', '183300', '186230', '187870', '189300',
       '189690', '189980', '192080', '192250', '192440', '194700',
       '198080', '200130', '200470', '200670', '200780', '201490',
       '203450', '203650', '204270', '204620', '205100', '206400',
       '206640', '207760', '207940', '208350', '208710', '210540',
       '210980', '213420', '214150', '214180', '214270', '214320',
       '214450', '215200', '216050', '217190', '217500', '217600',
       '217820', '218410', '219420', '221840', '222080', '225330',
       '225530', '225590', '226340', '227840', '228670', '228850',
       '230360', '234080', '234340', '234690', '236200', '237750',
       '237820', '238200', '238490', '240810', '241560', '241590',
       '241690', '241770', '241790', '243070', '243840', '247540',
       '250000', '251270', '251370', '251630', '251970', '253450',
       '255440', '258830', '260660', '263600', '263690', '263720',
       '263750', '263860', '264450', '264660', '267320', '267790',
       '270520', '270870', '271560', '272110', '272290', '272550',
       '277410', '278280', '278650', '281740', '281820', '282690',
       '284740', '285490', '290120', '290270', '290380', '290520',
       '290650', '290670', '290720', '293480', '297090', '299900',
       '300120', '302430', '306040', '308100', '312610', '317330',
       '322180', '327260', '900250', '900270', '900280', '900300',
       '900310', '900340', '950110', '950180'], dtype=object)

In [46]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'
driver = webdriver.Chrome()

In [47]:
for code in codes[:3]:
    print(code, '==================')
    
    for i in range(1,3):
        driver.get(url.format(code, i))
        time.sleep(0.5)
        html = driver.page_source
        
        df = pd.read_html(html)[0]
        df.dropna(inplace = True)
#         print(df)
        print('='*100)
    
        for i in range(len(df)):
            code = code
            date = df.iloc[i][0]
            close = df.iloc[i][1]
            margin = df.iloc[i][2]
            start = df.iloc[i][3]
            high = df.iloc[i][4]
            low = df.iloc[i][5]
            volume = df.iloc[i][6]
            
            sql = """
            insert into stock_table values('{},{},{},{},{},{},{},{}');
            """.format(code, date, close, margin, start, high, low, volume)
            
            cursor.execute(sql)
        
driver.close()

000210 ==================
====================================================================================================

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [ ]:
sql = 'select * from stock_tavle;'

st_price = pd.read_sql(sql, db)
st_price