In [12]:
!pip install scipy scikit-learn

Requirement already satisfied: scipy in c:\users\bitcamp\anaconda3\lib\site-packages (1.7.1)
Requirement already satisfied: scikit-learn in c:\users\bitcamp\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\bitcamp\anaconda3\lib\site-packages (from scipy) (1.22.1)
Requirement already satisfied: joblib>=0.11 in c:\users\bitcamp\anaconda3\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bitcamp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./ml_source_files/USA_Housing.csv')

In [3]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [ ]:
# 집값을 예측하는 모델

# y : 집값(price) - continuous data => regression
# x : income, house age, nums of rooms, nums of bedrooms

In [4]:
y = df['Price']
x = df.drop(['Price', 'Address'], axis=1)      # 집값에 필요없는 것들

In [ ]:
# train test split

# train : 모델을 훈련하는데 사용하는 데이터
# test :  모델을 평가하는데 사용하는 데이터

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [ ]:
#algorithm

In [13]:
lr = LinearRegression()

In [14]:
# model train

In [15]:
lr.fit(x_train, y_train)

LinearRegression()

In [16]:
# predict

In [17]:
preds = lr.predict(x_test)

In [18]:
from sklearn.metrics import r2_score

In [19]:
r2_score(preds, y_test)

0.9159425290256232