# 콘텐츠 기반 필터링  

# 협업 필터링
- 최근접 이웃 기반 협업 필터링  
    - 사용자 기반
    - 아이템 기반 : 더 많이 사용
    
  
- 잠재적 요인 협업 필터링 - 행렬 변환

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies = pd.read_csv('./tmdb_5000_movies.csv')
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [81]:
movies.shape

(4803, 20)

In [82]:
movies_df = movies[['id', 'title','genres','vote_count','vote_average','popularity','keywords','overview']]

In [83]:
movies_df

,id,title,genres,vote_count,vote_average,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",11800,7.2,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",4500,6.9,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",4466,6.3,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9106,7.6,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2124,6.1,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",238,6.6,14.269792,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5,5.9,0.642552,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",6,7.0,1.444476,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],7,5.7,0.857008,[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]",16,6.3,1.929883,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

# 콘텐츠 기반 필터링 추천 시스템

In [84]:
movies_df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [85]:
movies_df['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [86]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_count    4803 non-null   int64
 4   vote_average  4803 non-null   float64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

In [87]:
# str로 된 python code를 실제 python code로 변환 : eval, literal_eval
type(movies_df['genres'][0])

str

In [88]:
from ast import literal_eval

type(literal_eval(movies_df['genres'][0]))

list

In [89]:
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_1284/4131196216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres'] = movies_df['genres'].apply(literal_eval)
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_1284/4131196216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [90]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_count    4803 non-null   int64
 4   vote_average  4803 non-null   float64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

In [91]:
movies_df['genres'][0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [92]:
[d['name'] for d in movies_df['genres'][0]]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [93]:
[d['name'] for d in movies_df['keywords'][0]]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [94]:
movies_df['genres'] = movies_df['genres'].apply(lambda x:[d['name'] for d in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x:[d['name'] for d in x])

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_1284/3654860830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres'] = movies_df['genres'].apply(lambda x:[d['name'] for d in x])
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_1284/3654860830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['keywords'] = movies_df['keywords'].apply(lambda x:[d['name'] for d in x])

In [95]:
movies_df['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [96]:
movies_df.head()

,id,title,genres,vote_count,vote_average,popularity,keywords,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",11800,7.2,150.437577,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",4500,6.9,139.082615,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]",4466,6.3,107.376788,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",9106,7.6,112.312950,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, Science Fiction]",2124,6.1,43.926995,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca..."

In [97]:
# CountVector ilzer에 넣기 위해서 문자열 변환
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_1284/3495623500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))

In [ ]:
import json
df['genres_literal'] = df['genres'].apply(json.loads).apply(lambda x : ' '.join([g['name'] for g in x]))

In [98]:
movies_df.head()

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",11800,7.2,150.437577,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",4500,6.9,139.082615,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action
2,206647,Spectre,"[Action, Adventure, Crime]",4466,6.3,107.376788,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Action Adventure Crime
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",9106,7.6,112.312950,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,Action Crime Drama Thriller
4,49529,John Carter,"[Action, Adventure, Science Fiction]",2124,6.1,43.926995,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction

In [99]:
# ContVectorizer : 문자열 => vector => sparse matrix
# TFIDF
        tok1, tok2, ..., tok50000
dec1      1    0            2
dec2      0    2            1
dec3      0    2            1

IndentationError: unexpected indent (Temp/ipykernel_1284/718580662.py, line 3)

In [100]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(min_df = 0, ngram_range=(1,2))
genre_mat = vect.fit_transform(movies_df['genres_literal'])

In [101]:
genre_mat.toarray().shape

(4803, 276)

In [102]:
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
genre_sim = cosine_similarity(genre_mat, genre_mat)

In [104]:
genre_sim

array([[1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.59628479, 1.        , 0.4       , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 0.4       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [105]:
sim_idx = genre_sim[0].argsort()[-10:]       # 유사도 높은순서대로 올림차순(오른쪽이 유사도 높은순)

In [106]:
movies_df.loc[sim_idx]

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
420,11253,Hellboy II: The Golden Army,"[Adventure, Fantasy, Science Fiction]",1527,6.5,58.579760,"[auction, northern ireland, resignation, super...",In this continuation to the adventure of the d...,Adventure Fantasy Science Fiction
419,8247,Jumper,"[Adventure, Fantasy, Science Fiction]",1799,5.9,21.218000,"[adolescence, based on novel, loss of child, f...","David Rice is a man who knows no boundaries, a...",Adventure Fantasy Science Fiction
1652,14164,Dragonball Evolution,"[Action, Adventure, Fantasy, Science Fiction, ...",462,2.9,21.677732,"[karate, superhero, revenge, dragon, duringcre...",The young warrior Son Goku sets out on a quest...,Action Adventure Fantasy Science Fiction Thriller
1296,9531,Superman III,"[Comedy, Action, Adventure, Fantasy, Science F...",490,5.3,22.164202,"[saving the world, dc comics, super computer, ...","Aiming to defeat the Man of Steel, wealthy exe...",Comedy Action Adventure Fantasy Science Fiction
14,49521,Man of Steel,"[Action, Adventure, Fantasy, Science Fiction]",6359,6.5,99.398009,"[saving the world, dc comics, superhero, based...",A young boy learns that he has extraordinary p...,Action Adventure Fantasy Science Fiction
46,127585,X-Men: Days of Future Past,"[Action, Adventure, Fantasy, Science Fiction]",6032,7.5,118.078691,"[1970s, mutant, time travel, marvel comic, bas...",The ultimate X-Men ensemble fights a war for t...,Action Adventure Fantasy Science Fiction
870,8536,Superman II,"[Action, Adventure, Fantasy, Science Fiction]",629,6.5,30.515175,"[saving the world, dc comics, sequel, superher...",Three escaped criminals from the planet Krypto...,Action Adventure Fantasy Science Fiction
813,1924,Superman,"[Action, Adventure, Fantasy, Science Fiction]",1022,6.9,48.507081,"[saving the world, journalist, dc comics, crim...",Mild-mannered Clark Kent works as a reporter a...,Action Adventure Fantasy Science Fiction
3494,27549,Beastmaster 2: Through the Portal of Time,"[Action, Adventure, Fantasy, Science Fiction]",17,4.6,1.478505,"[based on novel, time travel, sequel, psychotr...","Mark Singer returns as Dar, the warrior who ca...",Action Adventure Fantasy Science Fiction
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",11800,7.2,150.437577,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction

In [107]:
pd.DataFrame(genre_sim) # 유사도 metrics

,0,1,2,3,4,5,6,7,8,9,...,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802
0,1.000000,0.596285,0.447214,0.125988,0.755929,0.596285,0.0,0.755929,0.447214,0.745356,...,0.000000,0.000000,0.000000,0.377964,0.000000,0.149071,0.0000,0.000000,0.0,0.0
1,0.596285,1.000000,0.400000,0.169031,0.338062,0.800000,0.0,0.338062,0.600000,0.800000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0000,0.000000,0.0,0.0
2,0.447214,0.400000,1.000000,0.338062,0.507093,0.600000,0.0,0.507093,0.200000,0.600000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.0000,0.000000,0.0,0.0
3,0.125988,0.169031,0.338062,1.000000,0.142857,0.169031,0.0,0.142857,0.000000,0.169031,...,0.377964,0.169031,0.377964,0.428571,0.218218,0.676123,0.0000,0.125988,0.0,0.0
4,0.755929,0.338062,0.507093,0.142857,1.000000,0.507093,0.0,1.000000,0.169031,0.507093,...,0.000000,0.000000,0.000000,0.428571,0.000000,0.169031,0.0000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,0.149071,0.200000,0.400000,0.676123,0.169031,0.200000,0.0,0.169031,0.000000,0.200000,...,0.000000,0.200000,0.000000,0.169031,0.258199,1.000000,0.0000,0.000000,0.0,0.0
4799,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.258199,0.000000,0.000000,0.000000,0.000000,1.0000,0.384900,0.0,0.0
4800,0.000000,0.000000,0.000000,0.125988,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.333333,0.149071,0.333333,0.125988,0.000000,0.000000,0.3849,1.000000,0.0,0.0
4801,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.0,0.0
4802,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.0,1.0

In [108]:
genre_sim.argsort(axis=1)    # 가로방향

array([[2401, 3037, 3038, ...,  813, 3494,    0],
       [2401, 3067, 3069, ...,  129,    1,  262],
       [2401, 2999, 3000, ..., 1542, 1740,    2],
       ...,
       [   0, 2230, 2229, ..., 1895, 3809, 4800],
       [   0, 3205, 3204, ..., 1596, 1594, 4802],
       [   0, 3141, 3140, ..., 4521, 4710, 4802]], dtype=int64)

In [109]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]     # 컬럼 역순
genre_sim_sorted_ind

array([[   0, 3494,  813, ..., 3038, 3037, 2401],
       [ 262,    1,  129, ..., 3069, 3067, 2401],
       [   2, 1740, 1542, ..., 3000, 2999, 2401],
       ...,
       [4800, 3809, 1895, ..., 2229, 2230,    0],
       [4802, 1594, 1596, ..., 3204, 3205,    0],
       [4802, 4710, 4521, ..., 3140, 3141,    0]], dtype=int64)

In [110]:
movie_index = 10
movies_df.loc[genre_sim_sorted_ind[movie_index][:5]]  # 상위 10개

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
10,1452,Superman Returns,"[Adventure, Fantasy, Action, Science Fiction]",1400,5.4,57.925623,"[saving the world, dc comics, invulnerability,...",Superman returns to discover his 5-year absenc...,Adventure Fantasy Action Science Fiction
232,76170,The Wolverine,"[Action, Science Fiction, Adventure, Fantasy]",4053,6.3,15.953444,"[japan, samurai, mutant, world war i, marvel c...",Wolverine faces his ultimate nemesis - and tes...,Action Science Fiction Adventure Fantasy
728,1487,Hellboy,"[Fantasy, Action, Science Fiction]",2225,6.5,47.479755,"[black magic, fistfight, cover-up, superhero, ...","In the final days of World War II, the Nazis a...",Fantasy Action Science Fiction
618,9824,Mystery Men,"[Adventure, Fantasy, Action, Comedy, Science F...",250,5.7,12.948627,"[bowling, hostage, sphinx, training, insane as...",When Captain Amazing (Kinnear) is kidnapped by...,Adventure Fantasy Action Comedy Science Fiction
322,18,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",3885,7.3,109.528572,"[clone, taxi, cyborg, egypt, future, stowaway,...","In 2257, a taxi driver is unintentionally give...",Adventure Fantasy Action Thriller Science Fiction

In [111]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 30):
    
    title_movie = df[df['title'] == title_name]  # 해당 영화 데이터 row
    title_index = title_movie.index.values    # 해당 영화의 index
    
#     print(title_index)
    
    similarity_indexex = sorted_ind[title_index, :(top_n)]  
    # sorted_ind matrix : row - 영화 인덱스 순서, columns - 유사도 순으로 올림차순 영화 인덱스 
    # sorted_ind : 유사도 matrix[해당영화 row index, 왼쪽에서 n개 칼럼]
    
#     print(similarity_indexex)
    
    similarity_indexes = similarity_indexex.reshape(-1)  # 유사도가 높은 영화인덱스들
    
    return df.iloc[similarity_indexes]  # 유사도 높은 영화들의 데이터를 리턴

In [112]:
df = movies_df
sorted_ind = genre_sim_sorted_ind
title_name = 'The Godfather'
top_n = 5

find_sim_movie(df, sorted_ind, title_name, top_n)

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
2731,240,The Godfather: Part II,"[Drama, Crime]",3338,8.3,105.792936,"[italo-american, cuba, vororte, melancholy, pr...",In the continuing saga of the Corleone crime f...,Drama Crime
1243,203,Mean Streets,"[Drama, Crime]",345,7.2,17.002096,"[epilepsy, protection money, secret love, mone...","A small-time hood must choose from among love,...",Drama Crime
3636,36351,Light Sleeper,"[Drama, Crime]",15,5.7,6.063868,"[suicide, drug dealer, redemption, addict, exi...",A drug dealer with upscale clientele is having...,Drama Crime
1946,11699,The Bad Lieutenant: Port of Call - New Orleans,"[Drama, Crime]",326,6.0,17.339852,"[police brutality, organized crime, policeman,...","Terrence McDonagh, a New Orleans Police sergea...",Drama Crime
2640,400,Things to Do in Denver When You're Dead,"[Drama, Crime]",85,6.7,6.932221,"[father son relationship, bounty hunter, boat,...",A mafia film in Tarantino style with a star-st...,Drama Crime

In [113]:
movies_df

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",11800,7.2,150.437577,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",4500,6.9,139.082615,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action
2,206647,Spectre,"[Action, Adventure, Crime]",4466,6.3,107.376788,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Action Adventure Crime
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",9106,7.6,112.312950,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,Action Crime Drama Thriller
4,49529,John Carter,"[Action, Adventure, Science Fiction]",2124,6.1,43.926995,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction
...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]",238,6.6,14.269792,"[united states–mexico barrier, legs, arms, pap...",El Mariachi just wants to play his guitar and ...,Action Crime Thriller
4799,72766,Newlyweds,"[Comedy, Romance]",5,5.9,0.642552,[],A newlywed couple's honeymoon is upended by th...,Comedy Romance
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]",6,7.0,1.444476,"[date, love at first sight, narration, investi...","""Signed, Sealed, Delivered"" introduces a dedic...",Comedy Drama Romance TV Movie
4801,126186,Shanghai Calling,[],7,5.7,0.857008,[],When ambitious New York attorney Sam is sent t...,
4802,25975,My Date with Drew,[Documentary],16,6.3,1.929883,"[obsession, camcorder, crush, dream girl]",Ever since the second grade when he first saw ...,Documentary

In [114]:
def weighted_vote_average(record):
    v = record['vote_count']
    r = record['vote_average']
    
    record = record[(v > record['vote_count'].mean()) & (r > record['vote_average'].mean())]
    
    record = record.sort_values('popularity',ascending=False)
    
    return record

In [115]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    
    title_movie = df[df['title'] == title_name]  # 해당 영화 데이터 row
    title_index = title_movie.index.values    # 해당 영화의 index
    
#     print(title_index)
    
    similarity_indexex = sorted_ind[title_index, :(top_n)*3]  
    # sorted_ind matrix : row - 영화 인덱스 순서, columns - 유사도 순으로 올림차순 영화 인덱스 
    # sorted_ind : 유사도 matrix[해당영화 row index, 왼쪽에서 n개 칼럼]
    
#     print(similarity_indexex)
    
    similarity_indexes = similarity_indexex.reshape(-1)  # 유사도가 높은 영화인덱스들
    
    record = df.iloc[similarity_indexes]

    final_df = weighted_vote_average(record)
    
    return final_df

In [116]:
df = movies_df
sorted_ind = genre_sim_sorted_ind
title_name = 'The Godfather'
top_n = 5

find_sim_movie(df, sorted_ind, title_name, top_n = 10)

,id,title,genres,vote_count,vote_average,popularity,keywords,overview,genres_literal
3337,238,The Godfather,"[Drama, Crime]",5893,8.4,143.659698,"[italy, love at first sight, loss of father, p...","Spanning the years 1945 to 1955, a chronicle o...",Drama Crime
1881,278,The Shawshank Redemption,"[Drama, Crime]",8205,8.5,136.747729,"[prison, corruption, police brutality, prison ...",Framed in the 1940s for the double murder of h...,Drama Crime
2731,240,The Godfather: Part II,"[Drama, Crime]",3338,8.3,105.792936,"[italo-american, cuba, vororte, melancholy, pr...",In the continuing saga of the Corleone crime f...,Drama Crime
883,640,Catch Me If You Can,"[Drama, Crime]",3795,7.7,73.944049,"[con man, biography, fbi agent, overhead camer...","A true story about Frank Abagnale Jr. who, bef...",Drama Crime
1847,769,GoodFellas,"[Drama, Crime]",3128,8.2,63.654244,"[prison, based on novel, florida, 1970s, mass ...","The true story of Henry Hill, a half-Irish, ha...",Drama Crime
3887,627,Trainspotting,"[Drama, Crime]",2655,7.8,63.513324,"[london england, alcohol, sex, based on novel,...","Renton, deeply immersed in the Edinburgh drug ...",Drama Crime
1149,168672,American Hustle,"[Drama, Crime]",2807,6.8,49.664128,"[con artist, scam, mobster, fbi agent]","A con man, Irving Rosenfeld, along with his se...",Drama Crime
3866,598,City of God,"[Drama, Crime]",1814,8.1,44.356711,"[male nudity, street gang, brazilian, photogra...",Cidade de Deus is a shantytown that started du...,Drama Crime
281,4982,American Gangster,"[Drama, Crime]",1502,7.4,42.361215,"[underdog, black people, drug traffic, drug sm...",Following the death of his employer and mentor...,Drama Crime
2582,97367,The Place Beyond the Pines,"[Drama, Crime]",1653,6.8,35.395129,"[corruption, father son relationship, carnival...",A motorcycle stunt rider considers committing ...,Drama Crime

In [ ]:
import json
df['genres_literal'] = df['genres'].apply(json.loads).apply(lambda x : ' '.join([g['name'] for g in x]))

In [8]:
movies = pd.read_csv('./movie.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [4]:
rating = pd.read_csv('./rating.csv')
rating

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [9]:
merge_df = pd.merge(movies, rating, on='movieId')
merge_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41
...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,2015-03-30 19:32:59
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,2015-03-30 19:48:08
20000260,131258,The Pirates (2014),Adventure,28906,2.5,2015-03-30 19:56:32
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,2015-03-30 19:57:46
20000262,131262,Innocence (2014),Adventure|Fantasy|Horror,133047,4.0,2015-03-30 20:39:26

In [11]:
ratings = merge_df[['movieId', 'userId','rating']]
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000263 entries, 0 to 20000262
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   movieId  int64
 1   userId   int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 610.4 MB

In [12]:
ratings['movield'] = ratings['movieId'].astype('int16')
ratings['userId'] = ratings['userId'].astype('int16')
ratings['rating'] = ratings['rating'].astype('int16')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13732/3565568368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['movield'] = ratings['movieId'].astype('int16')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13732/3565568368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['userId'] = ratings['userId'].astype('int16')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13732/3565568368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['rating'] = ratings['rating'].astype('int16')

In [13]:
ratings.info() 깐중이가 시비걸고싶데 낄낄

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   movieId  int64
 1   userId   int16
 2   rating   int16
 3   movield  int16
dtypes: int16(3), int64(1)
memory usage: 419.6 MB

In [15]:
ratings_matrix = ratings.pivot_table(index='userId', columns='movield', values='rating')

In [2]:
import pickle

In [18]:
# with open('rating_matrix.pickle', 'wb') as f:
#     pickle.dump(ratings_matrix, f)

In [20]:
ratings_matrix.shape

(65536, 24139)

In [16]:
with open('rating_matrix.pickle', 'rb') as f:
    ratings_matrix_ex = pickle.load(f)
    
ratings_matrix_ex

movield,-32768,-32766,-32759,-32757,-32755,-32753,-32749,-32748,-32747,-32744,...,32739,32741,32743,32748,32750,32752,32754,32758,32760,32762
userId,,,,,,,,,,,,,,,,,,,,,
-32768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-32767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-32766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-32765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-32764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
with open('ratings_matrix_t.pickle', 'rb') as f:
    ratings_matrix = pickle.load(f)

In [7]:
ratings_matrix

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ratings_matrix.fillna(0, inplace=True)
ratings_matrix

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ratings_matrix.shape

(706, 6033)

In [ ]:
# 고객님과 유사한 사용자가 다음의 콘텐츠를 구매하였습니다.

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
user_sim = cosine_similarity(ratings_matrix)   # row 간에 cosine 유사도를 계산
user_sim

array([[1.        , 0.10325045, 0.26204582, ..., 0.05736163, 0.09347382,
        0.21888057],
       [0.10325045, 1.        , 0.18012391, ..., 0.01682863, 0.05519785,
        0.04520944],
       [0.26204582, 0.18012391, 1.        , ..., 0.05965044, 0.10166481,
        0.17261861],
       ...,
       [0.05736163, 0.01682863, 0.05965044, ..., 1.        , 0.53484607,
        0.0294181 ],
       [0.09347382, 0.05519785, 0.10166481, ..., 0.53484607, 1.        ,
        0.03368423],
       [0.21888057, 0.04520944, 0.17261861, ..., 0.0294181 , 0.03368423,
        1.        ]])

In [13]:
user_sim.shape

(706, 706)

In [19]:
user_sim_sort = user_sim.argsort(axis=1)[:, ::-1]     # argsort 역순
user_sim_sort

array([[  0, 146, 387, ..., 512, 433, 209],
       [  1, 664,  77, ..., 531, 304, 191],
       [  2, 474, 133, ..., 512, 383, 463],
       ...,
       [703,  25, 704, ...,  91, 322, 352],
       [704, 514,  25, ..., 512, 526, 112],
       [705, 573, 669, ..., 124, 286, 457]], dtype=int64)

In [23]:
user_sim_sort[10][1:6]   # 자신을 제외한 유사도가 높은순 5개

array([421, 387, 658, 491, 231], dtype=int64)

In [25]:
# 유사도가 높은 사용자 상위 10명의 영화 평점 데이터

df = ratings_matrix.loc[user_sim_sort[10][1:11]]  
df

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
421,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
387,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0
658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# 10번 사용자와 유사도가 높은 사용자들의 영화 평점 순위
df.sum().sort_values(ascending=False)[:5]

title
Silence of the Lambs, The (1991)    23.0
Schindler's List (1993)             22.0
Babe (1995)                         21.5
Usual Suspects, The (1995)          21.5
Crimson Tide (1995)                 21.0
dtype: float64

In [ ]:
# 영화 추천

In [55]:
def seen_movies(user_id):
    movie_list = ratings_matrix.iloc[user_id] > 0   # 사용자가 본 영화
    seen_mivies = movie_list[ratings_matrix.iloc[5] > 0]
    return seen_mivies.index

In [56]:
def sim_user_based_recomm(user_sim, ratings_matrix, user_id, n_top=10):
    
    seen_movies_list = seen_movies(user_id)
    
    user_sim_sort = user_sim[user_id].argsort()[ ::-1][:n_top * 5]
    df = ratings_matrix.loc[user_sim_sort]
    
    unseen_movies_list = set(df.index).difference(set(seen_movies_list))
    
    df = df.loc[unseen_movies_list]
    
    return df.sum().sort_values(ascending=False)

In [57]:
sim_user_based_recomm(user_sim, ratings_matrix, 30, n_top=10)

title
Forrest Gump (1994)                                  91.5
Star Wars: Episode VI - Return of the Jedi (1983)    85.5
Usual Suspects, The (1995)                           85.0
Star Wars: Episode IV - A New Hope (1977)            84.5
Matrix, The (1999)                                   84.0
                                                     ...
Hear My Song (1991)                                   0.0
Head-On (Gegen die Wand) (2004)                       0.0
Head of State (2003)                                  0.0
Head in the Clouds (2004)                             0.0
¡Three Amigos! (1986)                                 0.0
Length: 6033, dtype: float64

# 아이템 기반 이웃 협업 필터링

In [58]:
ratings_matrix

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 사용자 평점이 기반 영화들 간의 유사도 계산
# 사용자 평점을 기반으로 영화유사도 계산

In [60]:
item_sim = cosine_similarity(ratings_matrix.T, ratings_matrix.T)
item_sim

array([[1.        , 0.        , 0.15260952, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.1665596 , ..., 0.24029835, 0.11793055,
        0.        ],
       [0.15260952, 0.1665596 , 1.        , ..., 0.08100095, 0.        ,
        0.15974555],
       ...,
       [0.        , 0.24029835, 0.08100095, ..., 1.        , 0.11634214,
        0.06914028],
       [0.        , 0.11793055, 0.        , ..., 0.11634214, 1.        ,
        0.03116184],
       [0.        , 0.        , 0.15974555, ..., 0.06914028, 0.03116184,
        1.        ]])

In [61]:
item_sim.shape

(6033, 6033)

In [62]:
item_sim_df = pd.DataFrame(item_sim, index=ratings_matrix.columns, columns= ratings_matrix.columns)
item_sim_df.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),1.000000,0.000000,0.152610,0.492366,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
'Til There Was You (1997),0.000000,1.000000,0.166560,0.000000,0.195713,0.272587,0.0,0.000000,0.084340,0.000000,...,0.0,0.727607,0.0,0.000000,0.727607,0.260432,0.0,0.240298,0.117931,0.000000
"'burbs, The (1989)",0.152610,0.166560,1.000000,0.075140,0.061574,0.271571,0.0,0.079698,0.160866,0.000000,...,0.0,0.228914,0.0,0.084723,0.228914,0.081935,0.0,0.081001,0.000000,0.159746
'night Mother (1986),0.492366,0.000000,0.075140,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
*batteries not included (1987),0.000000,0.195713,0.061574,0.000000,1.000000,0.000000,0.0,0.000000,0.358280,0.388821,...,0.0,0.000000,0.0,0.061685,0.000000,0.206307,0.0,0.193077,0.098092,0.000000

In [64]:
# 사용자 평점 기준으로 유사한 영화를 추천

item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:10]

title
Godfather, The (1972)                                                             1.000000
Godfather: Part II, The (1974)                                                    0.790856
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.594407
Goodfellas (1990)                                                                 0.579041
One Flew Over the Cuckoo's Nest (1975)                                            0.572015
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.553038
American Beauty (1999)                                                            0.541356
Fargo (1996)                                                                      0.536309
Jaws (1975)                                                                       0.534448
Star Wars: Episode IV - A New Hope (1977)                                         0.532203
Name: Godfather, The (1972), dtype: float64

In [65]:
item_sim_df['Schindler\'s List (1993)'].sort_values(ascending=False)[:10]

title
Schindler's List (1993)             1.000000
Shawshank Redemption, The (1994)    0.621876
Silence of the Lambs, The (1991)    0.579509
Forrest Gump (1994)                 0.569361
Pulp Fiction (1994)                 0.547534
Jurassic Park (1993)                0.535388
Fugitive, The (1993)                0.532249
Braveheart (1995)                   0.519951
American Beauty (1999)              0.516586
Usual Suspects, The (1995)          0.507931
Name: Schindler's List (1993), dtype: float64

In [ ]:
# 영화의 유사도와 사용자 평점을 함께 고려한 영화 추천

In [66]:
ratings_matrix.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
item_sim

array([[1.        , 0.        , 0.15260952, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.1665596 , ..., 0.24029835, 0.11793055,
        0.        ],
       [0.15260952, 0.1665596 , 1.        , ..., 0.08100095, 0.        ,
        0.15974555],
       ...,
       [0.        , 0.24029835, 0.08100095, ..., 1.        , 0.11634214,
        0.06914028],
       [0.        , 0.11793055, 0.        , ..., 0.11634214, 1.        ,
        0.03116184],
       [0.        , 0.        , 0.15974555, ..., 0.06914028, 0.03116184,
        1.        ]])

In [70]:
# 영화의 유사도 점수에 해당 영화의 평점을 곱한 값
# 유사도가 높고, 평점도 높은 영화가 높은 값을 가진다

item_co_pro = item_sim_df*(ratings_matrix.mean())
item_co_pro.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),0.005666,0.000000,0.010484,0.009764,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
'Til There Was You (1997),0.000000,0.009915,0.011442,0.000000,0.005683,0.010811,0.0,0.000000,0.017860,0.000000,...,0.0,0.003092,0.0,0.000000,0.002061,0.006087,0.0,0.041014,0.010774,0.00000
"'burbs, The (1989)",0.000865,0.001651,0.068697,0.001490,0.001788,0.010771,0.0,0.001242,0.034064,0.000000,...,0.0,0.000973,0.0,0.012060,0.000648,0.001915,0.0,0.013825,0.000000,0.01878
'night Mother (1986),0.002790,0.000000,0.005162,0.019830,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
*batteries not included (1987),0.000000,0.001941,0.004230,0.000000,0.029037,0.000000,0.0,0.000000,0.075868,0.006058,...,0.0,0.000000,0.0,0.008781,0.000000,0.004822,0.0,0.032954,0.008962,0.00000

In [71]:
item_co_pro['Godfather, The (1972)'].sort_values(ascending=False)[:10]

title
Godfather, The (1972)                                                             1.226629
Godfather: Part II, The (1974)                                                    0.970087
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.729117
Goodfellas (1990)                                                                 0.710268
One Flew Over the Cuckoo's Nest (1975)                                            0.701651
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.678372
American Beauty (1999)                                                            0.664043
Fargo (1996)                                                                      0.657852
Jaws (1975)                                                                       0.655570
Star Wars: Episode IV - A New Hope (1977)                                         0.652815
Name: Godfather, The (1972), dtype: float64

In [72]:
item_co_pro['Schindler\'s List (1993)'].sort_values(ascending=False)[:10]

title
Schindler's List (1993)             1.502833
Shawshank Redemption, The (1994)    0.934575
Silence of the Lambs, The (1991)    0.870906
Forrest Gump (1994)                 0.855654
Pulp Fiction (1994)                 0.822852
Jurassic Park (1993)                0.804599
Fugitive, The (1993)                0.799881
Braveheart (1995)                   0.781399
American Beauty (1999)              0.776343
Usual Suspects, The (1995)          0.763335
Name: Schindler's List (1993), dtype: float64

In [ ]:
## 개인화된 아이템 기반 협업 필터링

In [74]:
ratings_matrix.head(2)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
item_sim_df.head(2)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),1.0,0.0,0.15261,0.492366,0.000000,0.000000,0.0,0.0,0.00000,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'Til There Was You (1997),0.0,1.0,0.16656,0.000000,0.195713,0.272587,0.0,0.0,0.08434,0.0,...,0.0,0.727607,0.0,0.0,0.727607,0.260432,0.0,0.240298,0.117931,0.0

In [73]:
ratings_matrix.dot(item_sim_df)   # 메트릭스 곱하기

# user의 평점점수와 영화의 유사도 점수를 곱하고 더해서 나온 값
# user가 높은 평점을 준 영화에 대해서 높은 유사도를 가지면 높은 점수가 부여
# 큰 값(유저의 특정 영화에 대한 평점)과 큰 값(해당 영화 높은 평점의 영화의 유사도)이 곱해져서 큰 값이 나온다

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,61.627322,82.917222,12.003437,67.492651,65.713528,20.708418,21.471593,102.202892,34.035989,...,11.128175,60.913769,53.124646,98.474456,60.913769,51.361531,20.708418,112.886068,86.992591,85.619318
2,0.695790,32.634416,32.262569,3.872422,22.019339,27.561104,7.002709,7.042433,34.509237,11.215892,...,2.480639,33.784732,11.823643,28.282579,33.784732,18.647497,7.002709,42.340220,27.641211,30.713436
3,1.961977,92.841600,114.435961,23.063319,81.691875,87.664629,20.991625,31.371245,128.348472,35.695748,...,12.791102,88.103594,45.257612,106.188645,88.103594,62.622795,20.991625,143.204075,93.214240,129.122996
4,0.000000,9.232312,12.815158,0.044005,10.634545,10.223605,1.593772,5.065291,16.415071,4.516712,...,2.041163,9.164781,4.124406,15.958069,9.164781,7.268055,1.593772,14.122179,14.652875,12.151721
5,0.000000,25.872919,37.888849,6.723122,31.859171,26.677719,7.434255,14.600556,50.090643,12.876935,...,7.204042,23.272222,14.680662,42.562613,23.272222,20.757025,7.434255,40.441877,37.023753,37.399801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,3.545639,204.600227,359.581626,41.640627,156.744140,197.682481,68.410042,203.879359,288.898841,59.380598,...,37.305935,207.690948,115.630927,323.901236,207.690948,147.575254,68.410042,301.376523,230.350370,283.665584
703,0.000000,16.365276,21.166549,7.063501,13.365672,16.324583,8.442380,6.707890,23.358950,4.741128,...,5.408261,16.669556,10.123941,22.271674,16.669556,12.236958,8.442380,26.529963,18.535402,24.307785
704,0.000000,17.828304,22.826097,1.295353,19.026225,19.181357,5.262921,7.171617,31.616520,8.284441,...,1.714525,16.891008,7.856742,27.125880,16.891008,13.219116,5.262921,24.711116,23.282558,22.197480
705,0.000000,25.307519,32.201940,3.670441,27.511919,28.265842,7.462521,11.896235,41.724355,13.326578,...,3.684788,23.831050,10.063806,38.528716,23.831050,18.602966,7.462521,37.815199,34.244895,31.561732
706,0.000000,26.128138,36.702548,5.217511,22.606183,23.945208,4.331146,7.683155,35.581327,8.143295,...,2.592911,25.421348,18.953347,27.813495,25.421348,17.422731,4.331146,32.463465,27.546409,32.765125

In [88]:
def user_based_recomm(item_sim, ratings_matrix, user_id, top_n=10):
    seen_movies_list = seen_movies(user_id)
    
    item_sim_df = pd.DataFrame(item_sim, index=ratings_matrix.columns, columns= ratings_matrix.columns)
    rating_pred_df = ratings_matrix.dot(item_sim_df)
    unseen_movie_list = set(rating_pred_df.columns.index).difference(set(seen_movies_list))
    
    
    return rating_pred_df[unseen_movie_list].loc[user_id].sort_values(ascending=False)[:top_n]

In [89]:
user_based_recomm(item_sim, ratings_matrix, 10, top_n=10)

AttributeError: 'Index' object has no attribute 'index'

In [ ]:

    
    seen_movies_list = seen_movies(user_id)
    
    user_sim_sort = user_sim[user_id].argsort()[ ::-1][:n_top * 5]
    df = ratings_matrix.loc[user_sim_sort]
    
    unseen_movies_list = set(df.index).difference(set(seen_movies_list))
    
    df = df.loc[unseen_movies_list]
    
    return df.sum().sort_values(ascending=False)