### LIST

In [ ]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]
# 't'를 출력하시오
# 56을 출력하시오
# 마지막 요소의 최대값을 출력하시오
#'python'을 'world'로 수정하시오
# 마지막에 'sun'을 추가하시오
#'world'가 있는지 확인하시오
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
# 90은 몇 번째 인덱스에 있는지 확인하시오
# 리스트를 역순으로 정렬하시오
# 3번째 인덱스에 'sea'를 추가하시오
# True를 False로 수정하시오
# 'world'를 제거하시오
# 7번째 요소를 제거하시오
# 마지막 요소를 제거하시오
# 리스트의 길이를 출력하시오
# 두번째 요소의 데이터타입을 출력하시오
#[78, 56, 32]를 '78:56:32'로 수정하시오
# 모든 원소를 제거하시오
# 리스트를 삭제하시오

In [75]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]

In [53]:
# 't'를 출력하시오
score[3][2]

't'

In [55]:
# 56을 출력하시오
score[-2][1]

56

In [56]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [57]:
#'python'을 'world'로 수정하시오
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [58]:
# 마지막에 'sun'을 추가하시오
score.append('sun')
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [59]:
#'world'가 있는지 확인하시오
'world' in score

True

In [60]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse = True)

[25, 24, 3]

In [61]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [62]:
# 리스트를 역순으로 정렬하시오
score.reverse()
score

['sun', (24, 25, 3), [78, 56, 32], True, 'hello', 'world', 78, 90, 81]

In [63]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(2,'sea')
score

['sun', (24, 25, 3), 'sea', [78, 56, 32], True, 'hello', 'world', 78, 90, 81]

In [77]:
# True를 False로 수정하시오
score.index[(True)] = False
score

TypeError: 'builtin_function_or_method' object does not support item assignment

In [67]:
# 'world'를 제거하시오
score.remove('world')
score

['sun', (24, 25, 3), 'sea', [78, 56, 32], True, 'hello', 78, 90, 81]

In [68]:
# 7번째 요소를 제거하시오
score.pop(7)
score

['sun', (24, 25, 3), 'sea', [78, 56, 32], True, 'hello', 78, 81]

In [69]:
# 마지막 요소를 제거하시오
score.pop()
score

['sun', (24, 25, 3), 'sea', [78, 56, 32], True, 'hello', 78]

In [70]:
# 리스트의 길이를 출력하시오
len(score)

7

In [71]:
# 두번째 요소의 데이터타입을 출력하시오
type(score[1])

tuple

In [72]:
#[78, 56, 32]를 '78:56:32'로 수정하시오
score[score.index([78,56,32])] = ':'.join(str(s) for s in [78,56,32])
score

['sun', (24, 25, 3), 'sea', '78:56:32', True, 'hello', 78]

In [73]:
# 모든 원소를 제거하시오
score.clear()
score

[]

In [74]:
# 리스트를 삭제하시오
del score
score

NameError: name 'score' is not defined

### String

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ---------------------------------

# tale을 출력하시오
# '지'를 출력하시오
# 'a'는 몇 개가 존재하는가?
# txt1에서 모음의 갯수는 몇 개인가?
# '또한'을 '것도'로 수정하시오
# txt1을 대문자로 출력하시오
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
# txt1을 space를 기준으로 나누어서 리스트에 담으시오
# txt2의 길이는 얼마인가?
# txt2를 character 단위로 나누어서 리스트에 담으시오
# txt1의 좌우 공백을 제거하시오
# txt2를 역순으로 출력하시오
# txt1에서 짝수 인덱스만 출력하시오
# txt2를 두 번 반복하시오
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
# txt1에서 'right'가 존재하는지 확인하시오
# txt1에서 뒤에서 5번째 문자를 출력하시오
# txt1의 문자를 index와 튜플로 묶어서 리스에 담으시오
url = 'http://www.naver.com/news/today=20221230'
#url 중 도메인만 출력하시오
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
# 아래와 같이 출력하시오
# name =>
# age => 17
# sex =>

In [1]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ---------------------------------

# tale을 출력하시오
txt1[4:8]

'tale'

In [80]:
# '지'를 출력하시오
txt2[5]

'지'

In [81]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [82]:
# txt1에서 모음의 갯수는 몇 개인가?
c = 0
for i in txt1:
    if i in 'aeiouAEIOU':
        c += 1
c

7

In [85]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한','것도')

'이 것도 지나가리라  '

In [86]:
# txt1을 대문자로 출력하시오
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [110]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.index('right')

22

In [90]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오
txt1.split(' ')

['', '', 'A', 'tale', 'that', 'was', 'not', 'right', '', '']

In [91]:
# txt2의 길이는 얼마인가?
len(txt2)

12

In [92]:
# txt2를 character 단위로 나누어서 리스트에 담으시오
txt2.split('character')

['이 또한 지나가리라  ']

In [100]:
# txt1의 좌우 공백을 제거하시오
txt1.strip()

'A tale that was not right'

In [96]:
# txt2를 역순으로 출력하시오
print(txt2[::-1])

  라리가나지 한또 이

In [101]:
# txt1에서 짝수 인덱스만 출력하시오
txt1[1:20:2].strip()

'aeta a o'

In [102]:
# txt2를 두 번 반복하시오
txt2 * 2

'이 또한 지나가리라  이 또한 지나가리라  '

In [103]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
txt1+txt2

'  A tale that was not right  이 또한 지나가리라  '

In [104]:
# txt1에서 'right'가 존재하는지 확인하시오
'right' in txt1

True

In [105]:
# txt1에서 뒤에서 5번째 문자를 출력하시오
print(txt1[-5])

g

In [2]:
# txt1의 문자를 index와 튜플로 묶어서 리스에 담으시오
[(i,c) for i,c in enumerate(txt1)]

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't'),
 (27, ' '),
 (28, ' ')]

In [108]:
url = 'http://www.naver.com/news/today=20221230'
#url 중 도메인만 출력하시오
print(url.split('/')[2])

www.naver.com

In [109]:
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
# 아래와 같이 출력하시오
# name =>
# age => 17
# sex =>

for i in log.split(','):
    print(i.split(':')[0], '=>', i.split(':')[1])

name  =>  홍길동
 age  =>  17
 sex  =>  남성
 nation  =>  대한민국