In [ ]:
# String
# txt1 = 'A tale that was not right'
# 'ale' 이 출력..
# 'A tale' 출력
# 'not' 출력
# txt1을 소문자 전환
# txt1을 대문자 전환
# 'o'가 몇 개 존재하는가?
# 'o'가 몇 번 인덱스에 존재하는가?
# txt1의 길이는 어떻게 되는가?
# space를 기준으로 나누어서 List에 담으세요..
# 'tale'을 'story'로 바꾸세요..
# txt1 안에 'right'가 존재하는지 확인

In [2]:
txt1 = 'A tale that was not right'

'ale'

In [3]:
txt1[3:6]

'ale'

In [4]:
txt1[:6]

'A tale'

In [6]:
txt1[-9:-6]

'not'

In [7]:
txt1.lower()

'a tale that was not right'

In [8]:
txt1.upper()

'A TALE THAT WAS NOT RIGHT'

In [9]:
txt1.count('o')

1

In [10]:
txt1.find('o')

17

In [11]:
txt1.index('o')

17

In [12]:
len(txt1)

25

In [13]:
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [15]:
txt1.replace('tale','story')

'A story that was not right'

In [16]:
'right' in txt1

True

In [ ]:
#  군집형 데이터타입 - index(주소(셋은제외))-[]
# string - 문자열, 원소의 수정,삭제,추가가 안됨
# list - 리스트. 원소의 수정,삭제,추가가 자유로움 모든객체를 담을 수 있음
# set - 셋. 집합, 중복데이터를 허용하지 않는다  순서가 없음(index가 없음)
# tuple - 튜플. 원소의 수정,삭제,추가가 안됨 , 고정된 값을 표현. 데이터를 묶는 보조적 용도
# dictionary - 사전. 단어:뜻 => key:value => key가 인덱스 역할

In [17]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [18]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')
#리스트에서는 인덱스만 가능

3

In [20]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [23]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
sol

['태양', '명왕성', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [21]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [24]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '명왕성', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [ ]:
# 7. '금성'을 제거
sol.remove('금성')

In [30]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
sol

['태양']

In [27]:
# 9. 인덱스 2번 요소 삭제
sol.pop(2)
sol

['태양', '명왕성', '금성', '지구', '해왕성', '목성', '지구']

In [32]:
# 10. sol과 sol1을 합치세요
sol + sol1

['태양', '토성', '천황성', '해왕성']

In [ ]:
# 11. 내림차순 정렬
sorted(sol. reverse=(True))

In [33]:
# 12. 오름차순 정렬
sorted(sol)

['태양']

In [ ]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

In [34]:
# 14. so1을 3번 반복하세요
sol *3

['태양', '태양', '태양']

In [36]:
# 15. 길이를 출력하세요
len(sol)

1

In [ ]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

In [ ]:
# 17. 모든 원소를 지우세요.
sol.clear()
sol

In [31]:
# 18. sol리스트를 삭제하세요..

In [47]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [ ]:
# 3을 출력하세요
myTuple[1][2]

In [49]:
# 4,5를 출력하세요
print(myTuple[2])

[4, 5, 6, 7, 8]

In [48]:
# [4,5,6]을 출력하세요
print(myTuple[2][:2])

[4, 5]

In [ ]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
print(len(myTuple))

In [ ]:
# '7'이 있는지 확인하세요
print('7' in myTuple)

In [50]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [ ]:
# '7'이 몇 개 있는지 확인하세요
print(myTuple.count('7'))

In [ ]:
# 인데스 2번를 출력하세요
print(myTuple[2])

In [ ]:
# 인데스 2번에서 최대값을 출력하세요
print(max(myTuple[2]))

In [ ]:
# 인데스 2번에서 최소값을 출력하세요
print(min(myTuple[2]))

In [ ]:
# 인데스 2번에서 총합을 출력하세요
print(sum(myTuple[2]))

In [ ]:
# 인데스 2번에서 평균을 출력하세요
import numpy as np
print(np.(myTuple[2]))

In [39]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
print(sorted(myTuple[2], reverse=True))

In [2]:
# Set - 중복데이터가 없다. 순서가 없으므로 인덱스가 없다 집합연산

# 원소가 없는 set인 s를 만드세요
s = set()   #{} 딕셔너리

In [3]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
s

{'earth', 'sky'}

In [4]:
# s에 1,2 두 원소를 추가하세요
s.update({1,2})
s

{1, 2, 'earth', 'sky'}

In [59]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [9]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [61]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [10]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [63]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [64]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [ ]:
# 집합 B의 길이를 출력
len(A)

In [ ]:
# 집합 B의 최대값 출력
max(A)

In [ ]:
# 집합 B의 최소값 출력
min(A)

In [ ]:
# 집합 B의 합을 출력
sum(A)

In [69]:
# 집합 B의 평균출력
sum(A)/len(A)
# np.mean(list(A))

3.5

In [ ]:
# 집합 B의 내림차순 출력
sorted(A, reverse=True)

In [70]:
# 집합 B에 5가 포함되어 있는지 확인
5 in A

True

In [6]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
d = {}

In [7]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
d['red']=4   #없는  key에 값을 대입하면, 원소가 추가가 됨
d['blue']=3
d['green']=1
d

{'red': 4, 'blue': 3, 'green': 1}

In [77]:
# key에 'blue'가 있는지 확인하세요.
d['red'] = 7  #있는 key에 값을 대입하면, 기존의 값을 덮어 쓴다..
d

# 'blue' in d

{'red': 7, 'blue': 3, 'green': 1}

In [ ]:
# mydict의 길이를 출력하세요.

len(d)

In [ ]:
# 'red'의 값을 출력하세요.
d['red']

In [ ]:
# 'red'의 값을 10으로 수정하세요.
d['red'] = 10
d

In [ ]:
# key값만 출력하세요
d.keys()

In [ ]:
# value값만 출력하세요
d.values()

In [8]:
# key와 value를 튜플로 출력하세요.
d.items()

dict_items([('red', 4), ('blue', 3), ('green', 1)])

In [78]:
# (key기준으로 정렬하세요
sorted(d.items(), key =lambda x:x[0])
# sorted(d.items(), key =lambda x:x[1]) - value 기준 정렬

[('blue', 3), ('green', 1), ('red', 7)]

In [ ]:
# (value기준으로 정렬하세요)
sorted(d.items(), key =lambda x:x[1])

In [18]:
# key 'blue'요소를 삭제하세요
d.pop('blue')

3

In [ ]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요

d.get('pink')

# dict.get('key') - 없는 key를 요청 시 에러를 발생시키지 않는다
# dict['key'] - 없는 key 를 요청시 에러발생
# dict.setdefault('key', value) - key가 존재하면  value를 리턴, 없는 key라면 (key, value) 원소를 추가

In [20]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
d.setdefault('red', 100)
d.setdefault('pink', 20)
d

{'red': 4, 'green': 1, 'pink': 20}

In [83]:
# value에 20이 있는지 확인하세요.
20 in d.values()

True

In [ ]:
# key는 'yellow'에 value는 30을 추가하세요.
d['yellow'] = 30

In [86]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
d.update(yourdict)
d

{'red': 7, 'green': 1, 'pink': 20, '파랑': 50, '빨강': 70}