### String

In [2]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ---------------------------------

# tale을 출력하시오
print(txt1[4:8])

tale

In [3]:
# '지'를 출력하시오
print(txt2[5])

지

In [4]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [3]:
# txt1에서 모음의 갯수는 몇 개인가?
c = 0
for i in txt1:
    if i in 'aeiouAEIOU':
        c += 1
print(c)


#=================================
# sum = 0
# for c in txt1:
#     if c in 'aeiouAEIOU' :
#         sum += 1
# sum

7

In [159]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한','것도')


#==============
# txt2.replace('또한','것도')

'이 것도 지나가리라  '

In [6]:
# txt1을 대문자로 출력하시오
print(txt1.upper())

  A TALE THAT WAS NOT RIGHT

In [7]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.index('right')   # fine 과 차이는 없는 데이터의 인덱스를 찾을때 fine -1, index는 에러 뜸

22

In [160]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오
txt1.split(' ')

# =========
#txt1.split('')

['', '', 'A', 'tale', 'that', 'was', 'not', 'right', '', '']

In [12]:
# txt2의 길이는 얼마인가?
len(txt2)

12

In [24]:
# txt2를 character 단위로 나누어서 리스트에 담으시오
txt2.split('character')

# ====================
# list(txt2)

['이 또한 지나가리라  ']

In [161]:
# txt1의 좌우 공백을 제거하시오
txt1.strip()


# ======================
# txt1.strip()

'A tale that was not right'

In [162]:
# txt2를 역순으로 출력하시오
print(txt2[::-1])

# =========================
# txt2[::-1]

  라리가나지 한또 이

In [163]:
# txt1에서 짝수 인덱스만 출력하시오
txt1[1:20:2]

#==================
#txt1[1:30:2]

'  aeta a o'

In [15]:
# txt2를 두 번 반복하시오
txt2 * 2

'이 또한 지나가리라  이 또한 지나가리라  '

In [16]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
txt1 + txt2

'  A tale that was not right  이 또한 지나가리라  '

In [18]:
# txt1에서 'right'가 존재하는지 확인하시오
'right' in txt1

True

In [19]:
# txt1에서 뒤에서 5번째 문자를 출력하시오
txt1[-5]

'g'

In [170]:
# txt1의 문자를 index와 튜플로 묶어서 리스에 담으시오
[(i, c) for i, c in enumerate(txt1)]


# lst = []
# for i,v in enumerate(txt1):
#     lst.append((i,v))
# lst


# =====================
# [(i, c) for i, j i enumerate(txt1)]

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't'),
 (27, ' '),
 (28, ' ')]

In [164]:
url = 'http://www.naver.com/news/today=20221230'
#url 중 도메인만 출력하시오
print(url.split('/')[2])



# =========================
# url.split('/')[2]

www.naver.com

In [4]:
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
# 아래와 같이 출력하시오
# name =>
# age => 17
# sex =>


for i in log.split(','):
    print(i.split(':')[0].strip(), '=>', i.split(':')[1].strip())


#========================
# for i in log.split(','):
#     print(i.split(':')[0].strip(), '=>', i.split(':')[1].strip()

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [32]:
text = """
북한 국방과학원이 11일 극초음속 미사일 시험발사를 진행해 '대성공'했다고 노동당 기관지 노동신문이 12일 보도했다. 김정은 당 총비서도 시험발사 현장에 참관했다. 뉴스1

 
합참은 이날 북한이 동쪽으로 미사일을 쐈다고 밝혔다. 익명을 요구하는 정부 소식통은 “발사지는 자강도며, 11일 미사일과 비슷한 비행을 한 것으로 파악된다”고 말했다.

 
북한은 5, 11일 극초음속 미사일을 발사했다고 밝혔다. 김정은 북한 국무위원장은 11일 발사 때 현장에서 지켜봤다. 북한의 관영매체는 “1000㎞ 수역의 설정 표적을 명중했다”며 “전반적인 기술적 특성들을 최종확증했다”고 당시 보도했다.

 
군 당국은 극초음속 미사일의 실전배치를 위한 마지막 점검 성격의 시험발사 가능성에 주목하고 있다.
"""

text

"\n북한 국방과학원이 11일 극초음속 미사일 시험발사를 진행해 '대성공'했다고 노동당 기관지 노동신문이 12일 보도했다. 김정은 당 총비서도 시험발사 현장에 참관했다. 뉴스1\n\n \n합참은 이날 북한이 동쪽으로 미사일을 쐈다고 밝혔다. 익명을 요구하는 정부 소식통은 “발사지는 자강도며, 11일 미사일과 비슷한 비행을 한 것으로 파악된다”고 말했다.\n\n \n북한은 5, 11일 극초음속 미사일을 발사했다고 밝혔다. 김정은 북한 국무위원장은 11일 발사 때 현장에서 지켜봤다. 북한의 관영매체는 “1000㎞ 수역의 설정 표적을 명중했다”며 “전반적인 기술적 특성들을 최종확증했다”고 당시 보도했다.\n\n \n군 당국은 극초음속 미사일의 실전배치를 위한 마지막 점검 성격의 시험발사 가능성에 주목하고 있다.\n"

In [ ]:
# 줄바꿈 \

### datatype
1. 기본형
- int : 95
- float : 95.8
- bool : True, False
2. 군집형 (여러 요소가 모여서 하나의 데이터 형식)
- string : '', 요소의 수정, 삭제, 추가 안 됨  순서, 인덱스 존재
- list : [], 요소의 수정, 삭제, 추가가 자유로움  순서,인덱스 존재
- tuple : (), 요소의 수정, 삭제, 추가가 자유로움 수정하지 않을 값, 보조용 순서, 인덱스 존재
- set : {}, 요소의 삭제, 추가가 안됨? 자유로움? 중복요소가 없다. 집합연산 순서,인덱스 없음
- dictionary : {key:value}, 요소의 수정, 삭제, 추가가 자유로움, 데이터의 저장(json과 유사) 순서는 없고, 인덱스는 key 역할

### List

In [6]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]

In [136]:
# 't'를 출력하시오
score[3][2]

't'

In [81]:
# 56을 출력하시오
score[6][1]

56

In [82]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [137]:
#'python'을 'world'로 수정하시오
# score.replace('python', 'world')

#-------------
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [138]:
# 마지막에 'sun'을 추가하시오
score.append('sum')
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sum']

In [139]:
#'world'가 있는지 확인하시오
'world' in score

True

In [140]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse =True)


#------------------
# sorted(score[-2], reverse=True)


#sort 연습

[25, 24, 3]

In [141]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)



#------------------
# score.index(90)

1

In [158]:
# 리스트를 역순으로 정렬하시오
score.reverse()
score



#-------------------
# score.reverse()
# score

['hello', False, 'sea', '78:56:32', (24, 25, 3), 'sum']

In [143]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(3,'sea')
score


#-------------------
# score.insert(0. 'sea')

['sum', (24, 25, 3), [78, 56, 32], 'sea', True, 'hello', 'world', 78, 90, 81]

In [144]:
# True를 False로 수정하시오
# score[5] = 'False'
# score


#-----------------
score[score.index(True)] = False
score

['sum', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 'world', 78, 90, 81]

In [145]:
# 'world'를 제거하시오
score.remove('world')
score


#--------------------------------
# score.remove('world')
# score

['sum', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 78, 90, 81]

In [147]:
# 7번째 요소를 제거하시오
score.pop(7)



#----------------------------------
#score.pop(7)

90

In [153]:
# 마지막 요소를 제거하시오
score.pop()
score



#---------------------------------
# socre.pop()

['sum', (24, 25, 3), '78:56:32', 'sea', False, 'hello']

In [154]:
# 리스트의 길이를 출력하시오
len(score)

6

In [155]:
# 두번째 요소의 데이터타입을 출력하시오
type(score[1])


#----------------------------
type(score[1])

tuple

In [104]:
':'.join([str(s) for s in [78, 56, 32]])

'78:56:32'

In [7]:
#[78, 56, 32]를 '78:56:32'로 수정하시오
score[score.index([78,56,32])] = ':'.join([str(s) for s in [78, 56, 32]])



#------------------------
score[score.index([78, 56, 32])] = ':'.join([str(s) for s in [78, 56, 32]])

ValueError: [78, 56, 32] is not in list

In [157]:
# 모든 원소를 제거하시오
score.clear()




#---------------
# score.clear()

AttributeError: 'list' object has no attribute 'clrea'

In [ ]:
# 리스트를 삭제하시오

del score


#---------------------
del score