In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Salaries1,csv 파일을 dataframe으로 읽으시오
# BasePay의 평균은 얼마인가?
# OverTimepay의 최대값은?
# 'JOSEPH DRISCOLL' 의 JOB TITLE은?
# TotalPayBeneift의 최고금액을 수령하는 사람의 이름은?
# BasePay의 연도별 평균금액은?
# JobTitle에서 가장 많은 Job 상위 5개?
# 2011년도에 오직 한 사람만이 수행하는 job의 갯수는?
# 'Chief'라는 직업을 가진 사람의 수

In [4]:
# Salaries1,csv 파일을 dataframe으로 읽으시오

f = pd.read_csv('./data/Salaries1.csv', index)
tt = pd.DataFrame(f)
tt.head(2)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [7]:
# BasePay의 평균은 얼마인가?
tt['BasePay'].mean()

75601.13714620461

In [10]:
# OverTimepay의 최대값은?
tt['OvertimePay'].max()

245131.88

In [31]:
tt.apply(max)  #element wise operation

Unnamed: 0                  49999
Id                          50000
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                  302578.0
OvertimePay             245131.88
OtherPay                400184.25
Benefits                      NaN
TotalPay                567595.43
TotalPayBenefits        567595.43
Year                         2012
Notes                         NaN
Agency              San Francisco
Status                        NaN
dtype: object

In [35]:
# 'JOSEPH DRISCOLL' 의 JOB TITLE은?
tt[tt.EmployeeName == 'JOSEPH DRISCOLL'],'JOSEPH DRISCOLL'

(    Unnamed: 0  Id     EmployeeName                   JobTitle    BasePay  \
 24          24  25  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION  140546.86

     OvertimePay  OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
 24     97868.77  31909.28       NaN  270324.91         270324.91  2011    NaN

            Agency  Status
 24  San Francisco     NaN  ,
 'JOSEPH DRISCOLL')

In [60]:
# TotalPayBeneift의 최고금액을 수령하는 사람의 이름은?
tt.groupby('EmployeeName')['TotalPayBenefits'].max()

KeyError: "None of [Float64Index([ 20039.91,  26282.86,  87496.21,  19473.92,  36883.91,   3266.33,\n              127281.97,  87619.12,  68808.28,  16789.37,\n              ...\n              119878.89, 120568.99, 125797.15, 213270.91,  143506.3, 141787.85,\n              140675.23, 167054.63, 163422.67, 122350.86],\n             dtype='float64', length=47466)] are in the [columns]"

In [33]:
tt.sort_values('TotalPayBenefits', ascending=False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

In [62]:
tt[tt['TotalPayBenefits']== tt['TotalPayBenefits'].max()]['EmployeeName'].values

array(['NATHANIEL FORD'], dtype=object)

In [25]:
tt['TotalPayBenefits'].max()

567595.43

In [26]:
# BasePay의 연도별 평균금액은?
tt.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [36]:
# JobTitle에서 가장 많은 Job 상위 5개?
tt['JobTitle'].value_counts()[:5]
tt['JobTitle'].value_counts().iloc[:5]

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [41]:
# 2011년도에 오직 한 사람만이 수행하는 job의 갯수는?
sum(tt[tt['Year'] == 2011]['JobTitle'].value_counts() == 1)

200

In [51]:
# 'Chief'라는 직업을 가진 사람의 수
jo = tt['JobTitle'].apply(lambda x: x.lower())
total = 0
for t in jo:
    if 'chief' in t:
        total += 1
total

318

In [48]:
sum(tt['JobTitle'].apply(lambda x : 'chief' in x.lower()))

318